[2018-02-26 05:50] ronaldtse opened #1 "Extend this to IEC, IEEE, IETF documents"

[2018-02-26 05:50] ronaldtse opened #2 "Define JSON / XML formats for interchange (and caching)"

[2018-02-26 05:52] ronaldtse opened #3 "Define distribution and access (and API) for such bibliographic items"
e.g., from some URI

[2018-03-06 17:26] ronaldtse opened #5 "Represent shortref phrase "ISO 19115-1:2014""
See https://github.com/riboseinc/isodoc-models/issues/29

[2018-03-06 21:00] opoudjis commented on #5
ISO is bibdata/contributor[role@type="publisher"]/organization/name = ISO. In our XML:

[code]

ISO/IEC are represented by multiple instances of bibdata/contributor[role@type="publisher"]

[2018-03-06 21:02] opoudjis commented on #5
For JSON serialisation, if you want to keep the full XML complexity, that will be somewhat tricky; but you could just hardcode `contributor[role@type = publisher]` as `publisher`.

[2018-03-06 22:17] ronaldtse commented on #5
JSON serialization we're going to use JSON-LD so maybe not so tough?

When you said "hardcode" that line is an XPATH, are you suggesting (1) we store XML (2) we use an XPATH on a method call to return the publisher object?

[2018-03-06 22:54] opoudjis commented on #5
I merely meant we could shortcut the structure in Json, so that publisher contributors are encoded as publisher.

But really, up to you guys. I'll parse what you give me.

[2018-03-07 23:39] ronaldtse opened #6 "Implement TypedUri from isodoc-models"
As described here, https://github.com/riboseinc/isodoc-models/issues/30,

`TypedUri` now takes a `type`. In our case, an IsoBibliographicItem has the following links:

* "Online browsing platform", we can use the type `via` to indicate that this is one of the data sources.
* "About the standard page", we can use the type `about` to indicate that this link provides information "about" the standard.

[2018-03-07 23:49] ronaldtse commented on #6
https://github.com/link-relations/registry/issues/2

[2018-03-16 14:31] ronaldtse opened #9 "Differentiating types of ISO Documents"
According to https://github.com/riboseinc/isodoc-models#iso-bibliographic-item these are the document types.

These types are officially defined here: https://www.iso.org/deliverables-all.html.

Technical Specification
* type: `technicalSpecification`
* title: `{publisher}/TS XXXXX`
* example: https://www.iso.org/standard/70292.html ("ISO/IEC TS 29125:2017")

Technical Report
* type: `technicalRep

[2018-03-18 06:12] ronaldtse opened #10 "Typo in `bibliographic_item.rb`"
[code]

[2018-03-18 12:48] andrew2net commented on #10
Fixed it. Actually, I'm going to remove this enum class and other enums, since they are not useful.

[2018-03-21 22:46] ronaldtse opened #11 "CopyrightAssociation"
I've seen 3 types of copyrights for ISO documents.

ISO
* https://www.iso.org/standard/37805.html
* Copyright holder is 'ISO'
<img width="643" alt="screen shot 2018-03-22 at 6 42 42 am" src="https://user-images.githubusercontent.com/11865/37741438-5e8c431e-2d9c-11e8-804f-68ef0859fabf.png">

ISO/IEC
* https://www.iso.org/standard/73906.html
* Copyright holder is 'ISO/IEC', year is date of publicati

[2018-03-21 22:54] ronaldtse commented on #10
Thanks!

[2018-03-21 22:54] #10 closed

[2018-03-22 14:52] andrew2net commented on #11
@ronaldtse some docs don't have a year in title https://www.iso.org/standard/67039.html
can we use publication date in this case?

[2018-03-23 11:13] andrew2net commented on #9
@ronaldtse which type should be the documents?

ISO/AWI
https://www.iso.org/standard/73810.html

ISO/CD
https://www.iso.org/standard/72177.html

ISO/FDIS
https://www.iso.org/standard/75602.html

[2018-03-23 11:29] ronaldtse commented on #11
Yes, publication date is accurate. Thanks!

[2018-03-23 11:30] ronaldtse commented on #9
The types can be found here: https://en.m.wikipedia.org/wiki/International_Organization_for_Standardization

AWI means approves work item. This is the project stage.

CD means committee draft. This is also project stage.

FDIS means draft international standard, also project stage.

[2018-03-23 14:51] andrew2net commented on #9
can't find this type ISO/R
https://www.iso.org/standard/6601.html

[2018-03-23 15:19] ronaldtse commented on #9
@andrew2net I found it: "ISO Recommendation R 1911-1971"

This page demonstrates the full name of it: https://www.iso.org/standard/6583.html

[2018-03-27 14:07] ronaldtse opened #12 "Excessive remote requests on `search`"
Currently the `scrapper` branch does rather excessive on a `search` request.

When I run `Isobib::IsoBibliography.search('19115')`, it starts a new thread, and says `Parse X of 120` (some number). This will be unexpected by the user -- I think each method call should only create 1 or 2 remote requests. On a return, the individual results do not need to be fetched/parsed -- we can just provide obje

[2018-03-28 11:08] andrew2net commented on #12
make it do lazy request
[code]

[2018-03-28 12:16] ronaldtse commented on #12
Can we have lazy request (i.e. returning `Hit`s) as default action? Thanks.

[2018-03-28 12:29] andrew2net commented on #12
We have a lazy request. `s = Isobib::IsoBibliography.search '19115'` makes one request to get first page of hits an return `Isobib::Scrapper`.
Method `each` pass `Hit`s to block. When all hits from the first page passed it makes a request to get next page.
`h.fetch` make requests to scrape item details and return `IsoBIbliographicItem`

[2018-03-28 22:20] ronaldtse commented on #12
@andrew2net could we rename the auto-fetching behavior to another method name, like `search_and_fetch` or `search('19115', fetch: true)?

By default it should only make 1 request and return Hit objects. Thanks.

[2018-03-31 16:13] andrew2net commented on #12
@ronaldtse added `search_and_fetch` method

[2018-04-01 00:30] ronaldtse commented on #12
Thanks @andrew2net !

[2018-04-01 00:45] ronaldtse opened #13 "Scrapper should return `HitPage`s and `HitCollection`s instead of itself"
Implement a class `HitCollection < Array` (which already includes Enumerable) so that we not only have the `each` method but also the rest, like `length`?

An array of `HitPage`s should be the result returned by `Scrapper`.

This allows something like:

[code]

Accessing the second page of search results:
[code]

[2018-04-01 00:45] ronaldtse commented on #13
Related to https://github.com/riboseinc/isobib/issues/12

[2018-04-01 00:52] ronaldtse opened #14 "Implement `to_s` for `Hit`"
Right now Ruby displays a `Hit` as `#<Isobib::Hit:0x00007ffbf3295878>` but it should show some more information, from the actual result:

[code]

[2018-04-02 13:56] andrew2net commented on #13
@ronaldtse do we really need `HitPages`? It's possible to implement `Array`'s methods for `HitCollection`. We can lazy load pages automatically when an index is out of a current page. So we don't have to manipulate pages by hand.

[2018-04-02 14:09] ronaldtse commented on #13
@andrew2net yes it's possible to use `HitCollection` indeed -- my concern was what is the best way to communicate to users when lazy load *will* happen, and also how to make it *not* happen (as you imagine it is important to server-side code).

We can have a `LazyCollection` that automatically calls `hit.fetch` on access too. Thoughts?

[2018-04-02 14:10] ronaldtse commented on #13
P.S. I agree with you that HitPages is not something the user needs to access, it might be useful internally, though.

[2018-04-03 13:47] andrew2net commented on #13
implemented `HitCollection` and `HitPage`

[2018-04-03 16:20] andrew2net commented on #14
what is `@matchedWords`?

[2018-04-03 16:33] andrew2net commented on #14
and what is `@identifier`? `IsoDocumentId` contain only 3 integer digits

[2018-04-03 23:14] ronaldtse commented on #14
* `@matchedWords` was just one of the attributes I saw that was returned by Scrapper
* `@identifier` perhaps should be renamed `@fullIdentifier`, it is just the full ID of the document, using the 2nd and 3rd integers ("ISO 19115-1:2014/Amd 1:2018" => "{publisher} {projectNumber}:{publicationDate}" [`publicationDate` is the `publish` type `BibliographicDateTime` from https://github.com/riboseinc/bi

[2018-04-04 09:30] andrew2net commented on #14
`@matchedWords` can appear multiple times for one hit for each part of the doc. For example
[code]
here we have `@matchedWords` for `title` and `text`. So should we combine them into one array or show separate `@matchedWords` for each part of the doc?

[2018-04-04 10:28] andrew2net commented on #14
looks like `@identifier` is the same that `iso191151.shortref` returns, is it?

[2018-04-04 11:33] ronaldtse commented on #14
Right — we should actually ensure they are consistent. From now on let’s use only one name. Should we call this “shortref” or “identifier”? @opoudjis

[2018-04-04 11:59] ronaldtse commented on #14
Also regarding `@matchedWords`, since our purpose of the gem isn't really for searching, it would be easiest if we drop the `@matchedWords` functionality for now, and ensure the text returned does not contain the matching tags like `<em>19115</em>`.

[2018-04-04 12:10] andrew2net commented on #14
@ronaldtse done it

[2018-04-04 12:52] andrew2net opened #15 "Serialization"
@ronaldtse do you have defined file structure for storing serialized `IsoBibliographicItem`s?
Which format of the file should we use?

[2018-04-05 03:36] opoudjis commented on #15
Yes, we have already serialised it as XML, as part of the ISOXML document model which exposes bibliographic items.

https://github.com/riboseinc/bib-models/tree/master/grammars

It's expressed in RelaxNG Compact; the attached script compiles it to RelaxNG straight, but RelaxNG Compact is far more legible.

[2018-04-05 03:37] opoudjis commented on #15
And since downstream tools already use this serialisation (all the suite of Asciidoctor-X standards gems), I see no reason to come up with a different serialisation.

[2018-04-05 03:38] ronaldtse commented on #15
Exactly as said by @opoudjis , the output should be in the ISOXML bibliography format. Thanks!

[2018-04-05 18:48] andrew2net commented on #15
@opoudjis should RelaxNG Compact define `start` in `grammar`? doc says it must be but I can't find

[2018-04-06 03:55] opoudjis commented on #15
They are embedded in the Iso XML spec, at https://github.com/riboseinc/isodoc-models/blob/master/grammars/isostandard.rnc. You will need to extract them out; I had no need to create a separate ISO-Biblio.

[2018-04-06 04:42] ronaldtse commented on #15
Let's keep in mind that the goal is to have asciidoctor-iso to utilize this gem (`isobib`) to create its metadata and also for its citation. The steps that seem necessary are:

1. Describe differences between the current `biblio.rnc` and `IsoBibliographicItem`, and see whether we can merge them or branch them.
2. Make `asciidoctor-iso` use `isobib` gem to construct its metadata structure and outpu

[2018-04-09 14:45] andrew2net commented on #15
@ronaldtse where we can crape `ContributorRole.description`?

[2018-04-09 14:54] ronaldtse commented on #15
There is currently no online resource that allows scraping of `ContributorRole.description`. For ISO documents, we only need to know which TC created the document, which is provided on the standard's page.

[2018-04-10 16:45] andrew2net commented on #15
@ronaldtse is there a way to scrape `notes` and `partof`?

[2018-04-10 19:16] andrew2net commented on #15
@opoudjis In `biblio.rnc` `status` is `FormattedString`, but in UML `Bibliography` `status` is `DocumentStatus` which inherit `LocalizedString` which is superclass of `FormattedString`. Is it ok?

[2018-04-10 22:33] opoudjis commented on #15
The uml takes priority. Will fix RNC.

[2018-04-10 23:40] ronaldtse commented on #15
@andrew2net could you help clarify what `notes` and `partof` are? Thanks.

[2018-04-11 07:47] andrew2net commented on #15
@ronaldtse in `biblio.rnc` there is `biblionote` which is likely `BibliographicItem.notes` in Bibliography UML Models.
`partof` is in `biblio.rnc` but isn't in Bibliography UML Models. Suppose it is backlink for `BibliographicItem.relations`. Is it?
[code]

[2018-04-11 10:13] opoudjis commented on #15
... I suspect partOf got superseded by relations, which is a late addition  to the model; @ronaldtse , could you confirm?

[2018-04-11 10:13] ronaldtse commented on #15
Confirmed -- `partOf` is a doc relation now.

[2018-04-11 10:27] andrew2net commented on #15
@ronaldtse ok, `partOf` no need anymore. how about `notes`? where can we scrape it?

[2018-04-11 10:39] ronaldtse commented on #15
Is notes just abstract?

[2018-04-11 12:17] andrew2net commented on #15
@opoudjis we have `ContributionAssociation.owner` as `Contributor` in Bibliography UML Models, and as `ContributorInfo` in `biblion.rnc`. Does UML always take priority in such cases?

[2018-04-11 13:06] opoudjis commented on #15
Notes also include the details of status of an unpublished standard; in fact that's what they're currently used for in isodoc (the footnote for the "—" date).

Removed partOf from RNC.

[2018-04-11 13:14] opoudjis commented on #15
I chose to rename Contributor from UML as ContributorInfo in the RNC in order to differentiate the element from the type (the latter is recycled elsewhere; and as a type, it is not visible as a name in the serialisation). For the serialisation, ContributorInfo will never actually turn up in the content, so the difference doesn't matter.

[2018-04-11 17:29] andrew2net commented on #15
@ronaldtse on www.iso.org in document relations section (Revisions / Corrigenda) relations have types like "Previously", "Now", "Corrigenda/Amendments" and so on. In `biblio.rnc` allowed types are "parent, "child", "obsoletes", "updatedBy", "complements", "derivedFrom", "adoptedFrom", "equivalent", "identical" and "nonequivalent". How to coreelate them?

[2018-04-12 18:49] ronaldtse commented on #15
* "A is previous of B" means "B obsoletes A".
* "A is amendment of B" means "A updates B".
* "Now" is just the current document, no action needed.

The `ContributorInfo` will be ISO itself. ISO's contact details are:

[code]

[2018-04-12 22:07] andrew2net commented on #15
@ronaldtse `relation` contain `bibitem`, according to `biblio.rnc`. In my opinion, it should contain some text identifier (like `ISO 19115:2003/Cor 1:2006`) instead. Related `bibitem` could have other relation, so it could be enormous data in XML.

[2018-04-13 02:03] ronaldtse commented on #15
Yes, the UML diagram specifies that relation links to a BibItem, but it doesn’t specify the implementation.

I imagine that the link to the BibItem could be also
* a linked URI (JSON-LD) in an exported data format
* an undetected object that can be fetched (in Ruby)
* in an exported data format that is embedded in an actual document for storing metadata, we have the opportunity to directly seriali

[2018-04-13 10:51] andrew2net commented on #15
@ronaldtse should `relation/locality/referenceFrom` contain something like 'ISO 19115:2003/Cor 1:2006`? and what should type in `rlation/locality[type=?]` contain?

[2018-04-13 15:33] ronaldtse commented on #15
Great question @andrew2net !

`relation/locality` is meant to allow a document to refer to parts of another document.

A document corrigenda ("Cor") or amendement ("Amd") is a separate document. While they may only correct parts of a standard, we can view the document as updating the entire standard. So this means that:

* In the ISO 19115:2003 BibItem, it is `type:updatedBy` "`ISO 19115:2003/Cor

[2018-04-15 05:15] opoudjis commented on #15
We should have type:updates, and we will need it for RFC anyway.

[2018-04-15 08:53] opoudjis commented on #15
Let's not. I'll add updates.

[2018-04-15 08:59] opoudjis commented on #15
Done

[2018-04-15 12:07] ronaldtse commented on #15
OK — we should actually have a full description of doc relations somewhere. Maybe on the stanDoc site later.

[2018-04-15 12:35] andrew2net opened #18 "Use IsoBib in asciidoctor-iso"
@ronaldtse as I understand `asciidoctor-iso` convert documents from AsciiDoc format to HTML, XML, MS-DOC and PDF formats. Do we need to make functionality in `asciidoctor-iso` to convert from IsoBib's XML output?

[2018-04-15 13:51] ronaldtse commented on #18
That is partly correct but `asciidoctor-iso` actually converts AsciiDoc into the IsoDoc XML format, which gets transformed into those end formats.

IsoDoc XML uses the BibItem format in two ways:

1. To embed metadata information of the document itself
2. To embed bibliographic items of references to external documents, eg other ISO references.

These two parts need to be refactored to use IsoBib

[2018-04-15 14:42] opoudjis commented on #18
asciidoctor-iso converts from Asciidoc to IsoDocXML; so it would grab the XML serialisation from isobib.

isodoc converts from IsoDocXML to HTML (and Word HTML); so that is where the IsoBib XML output will be rendered according to whatever styling is chosen. But it would not need to invoke IsoBib separately; so no rendering coded is required from IsoBib.

[2018-04-16 12:06] andrew2net commented on #18
Hello @opoudjis, do you have a suggestion what is the best way to make asciidoctor-iso grab XML from isobib?

[2018-04-18 15:28] andrew2net commented on #18
@ronaldtse @opoudjis as I understand asciidoctor-iso is a backend for asciidoctor. So it needs to pass AsciiDoc source file when we start asciidoctor with asciidoctor-iso. But if we want to get data from IsoBib then we don't have AsciiDoc to pass in, we can get XML or `IsoBibliographicItem`. So I can't see a way how to use IsoBib and asciidoctor together. Do you have any suggestion?

[2018-04-18 21:11] opoudjis commented on #18
The Mechanism is similar to how asciidoctor-rfc works, fetching references in XML online. Asciidoctor-iso converts asciidoctor to XML. Asciidoctor recognises ISO references image text, and fetches the XML corresponding to those references during conversion. So all ASCIIdoctor-iso needs is an API to invoke isobib during conversion.

[2018-04-18 23:45] ronaldtse commented on #18
And also, asciidoctor-iso stores the document metadata (set in the asciidoc preamble, as document attributes) in IsoBib format.

[2018-04-19 09:48] andrew2net commented on #18
Ok, I got it. Asciidoctor-iso converts AsciiDoc file and needs to fetch references from the file.
Does the example https://github.com/riboseinc/asciidoctor-iso/blob/master/spec/examples/rice.adoc have such references? If yes could you point to them? If no could you provide AsciiDoc example with references?

[2018-04-19 20:34] andrew2net commented on #18
is `normative reference` what we should fetch?

[2018-04-19 20:36] andrew2net commented on #18
@ronaldtse is there any AsciiDoc with references for testing purpose?

[2018-04-19 23:41] ronaldtse commented on #18
https://github.com/riboseinc/isodoc-rice

This document contains ISO references in section 2 (normative) and the last section (informative). The gem should automatically pull in any “ISO*” references on citation, I.e. you don’t need to manually write out the title or date of the reference document.

I’d also like to point out that the “other” very important usage in the gem that is much simpler to

[2018-04-20 08:27] andrew2net commented on #18
@ronaldtse References in https://github.com/riboseinc/isodoc-rice have no URLs, so we can only search by its id (for example, `ISO 712`) and title (for example `Cereals and cereal products — Determination of moisture content — Reference method`) and take the first item from search results as most relevant. Is the algorithm appropriate?

[2018-04-22 17:13] andrew2net commented on #18
@ronaldtse There are two references `[IEC 61010-2:1998]` and `[ISO 16634:--]` in https://github.com/riboseinc/isodoc-rice/blob/master/body/body-en.adoc which www.iso.org doesn't find. So we can't fetch the references. What should script do in this case?

[2018-04-23 12:14] ronaldtse commented on #18
Agree with @opoudjis

[2018-04-23 15:50] andrew2net opened #19 "Differences between the biblio.rnc and IsoBibliographicItem"
1. IsoBibliographicItem.documentidentifier
In `IsoBibliographicItem` it is `IsoDocumentId`, in biblio.rnc it is `DocumentId`.
2. IsoBibliographicItem.title
In `IsoBibliographicItem` it is `IsoLocalizedTitle`, in biblio.rnc it is `FormattedString`.
3. IsoBibliographicItem.type
biblio.rnc has:
"article" | "book" | "booklet" | "conference" | "manual" | "proceedings" | "presentation" | "thesis" | "tec

[2018-04-23 20:08] andrew2net commented on #18
@opoudjis looks like asciidoctor-iso doesn't support `TypedUri`.  In output I got message from validator:
[code]
in result XML:
[code]

[2018-04-24 09:00] andrew2net commented on #18
@ronaldtse @opoudjis I can't push the new branch to `asciidoctor-iso` git repo, don't have permission
[code]

[2018-04-24 09:03] ronaldtse commented on #18
Fixed!

[2018-04-24 17:04] andrew2net commented on #19
@ronaldtse we have `notes` in `BibliographicItem` and I don't know where it could be scrapped. Some teme ago in #15 you said that maybe abstract is notes.

[2018-04-24 17:14] andrew2net commented on #19
@ronaldtse I got XML from `asciidoctor-iso` with fetched ISO references, but the validator gives me a lot of messages. One of them about `source`. In `isobib` we have zero or multiple sources with the type attribute. In `asciidoctor-iso` validator allow only one source without type attribute. Should I change validation rules in `asciidoctor-iso`?

[2018-04-25 19:24] andrew2net opened #20 "Relation types"
@ronaldtse On www.iso.org there are relations "Will be replaced by" and "Now confirmed".
How they correspond to allowed relation types "adoptedFrom", "child", "complements", "derivedFrom", "equivalent", "identical", "nonequivalent", "obsoletes", "parent", "updatedBy" or "updates"?

[2018-04-26 07:25] opoudjis commented on #18
The type on typedUri is optional, and asciidoctor-iso currently ignores it. Once types start showing up on URIs in bibliographies, asciidoctor-iso should no longer ignore the type, so asciidoctor-iso will need to know what to change. But I'll need to know what the types are likely to be, before I can code asciidoctor-iso to process them.

[2018-04-26 07:27] opoudjis commented on #18
Although you're talking about a syntax error, and I see what's happened: the source element should be defined locally within the RNC, and is instead defined externally, without typedURI. Fixing.

[2018-04-26 07:31] opoudjis commented on #18
Fixed. @andrew2net, let me know if you still have validation issues.

[2018-04-26 07:33] opoudjis commented on #19
I've fixed this.

[2018-04-26 07:40] opoudjis commented on #19
@ronaldtse So... a bunch of ISO elements have to be recoded in the production grammar. I'm going to go through the changes you appear to be proposing, for confirmation. Note that I'm going through the XML serialisations of the UML. I will go through one at a time.

Current:
[code]

New structure:

[code]

Please confirm you want part-number to move out of documentnumber, and that it applies to tc-

[2018-04-26 07:43] opoudjis commented on #19
2.

isostandard.rnc already does this, by allowing either kind of title to appear, overriding the biblio.rnc definition of btitle:

[code]

[2018-04-26 07:44] opoudjis commented on #19
3.

isostandard.rnc already does this, by adding the ISO-specific types to the generic types. (This is consistent behaviour in the grammar: it has to parse both ISO and non-ISO references.)

[code]

[2018-04-26 07:50] opoudjis commented on #19
I've run out of time for now, but the general guidance is, have a look at the ISOstandard.rnc in the Isodoc-models repository, and how it subclasses the original biblio.rnc . The answers to your questions are in the ISO-specific serialisation. Sorry for not pointing that out earlier.

[2018-04-26 08:03] ronaldtse commented on #19
@opoudjis since IEC and ISO share the Directives, we prefer to have a single model apply to both. We should have document-identifier support a subpart as well.

The `tc-document-number` is just a serial number of a document within the TC and has no meaning to the project. For example, any distributed document within the TC will have a `tc-document-number`. .

Is DocumentIdentifier itself the full

[2018-04-26 09:46] andrew2net commented on #18
@opoudjis for now I've changed `lib/asciidoctor/iso/isodoc.rng` and `lib/asciidoctor/iso/isostandard.rng` in `fetch_isobib` branch to pass validation. Will rebase later to applay chnages from `master`.

[2018-04-26 12:08] opoudjis commented on #19
DocumentIdentifier currently does not contain the "ISO/IEC"; that is inferred by looking up the publishers of the standard.

[2018-04-26 12:14] ronaldtse commented on #19
Indeed, the model doesn't include it right now. However, I was wondering that perhaps we should, because for normal people who use the document, it can serve as a reasonable to citeAs.

For example, without intimate knowledge of the model, it would be difficult for someone to infer that a document is dual published by ISO and IEC and therefore should have the 'ISO/IEC' prefix.

[2018-04-30 07:54] opoudjis commented on #19
My takeaway from this is that the grammar does not actually need to change at all.

The citeas attribute already includes the prefix: we tell people to cite documents as `<<ref2131,ISO/IEC 123>>`, where what follows the comma is how the document will be cited. So a reference "ISO/IEC 123" is not constructed for bibliographic citations; it is is only build in bibdata, for the current document. (The

[2018-05-03 00:08] opoudjis commented on #20
@ronaldtse, ping.

@andrew2net, please assign me any questions you have; I'm too busy to identify things from my feed.

"Will be replaced by" = "updatedBy"

"Now confirmed": it sounds like "updatedBy", but I don't quite understand how this works as a document relation. Could you give an example?

[2018-05-03 01:42] ronaldtse commented on #19
I think we should allow the docidentifer to be the default citeAs and let people cite an auto-fetched document without a citeAs (when the doc reference is being fetched via IsoBib, just like how it works in AsciiRFC).

[2018-05-03 07:38] andrew2net commented on #20
@opoudjis this is a doc with "Now confirmed" relation https://www.iso.org/standard/23281.html

[2018-05-03 09:36] opoudjis commented on #20
@ronaldtse  A bibdate of "confirmed" still isn't a bibrelation.

@andrew2net Wow. That is *very* misleadingly expressed on the website. The "previously" is the item being updated by the current item; so it does express a document relation. The "now confirmed" item, however, is the current document: it's ISO 123:2001, which is what the page is about. So "now confirmed" is not a relation of the curr

[2018-05-03 09:36] #20 closed

[2018-05-03 10:33] ronaldtse commented on #20
@opoudjis yes a bibdate is a bibdate, not a bibrelation.

And yes you are right, a "now confirmed" is not a bibrelation.

[2018-05-03 12:48] andrew2net opened #21 "Workgroup"
@opoudjis @ronaldtse as I understand `IsoBibliographicItem.workgroup` should be "ISO" if a reference is like "ISO 123" or "IEC" if a reference is like "IEC 123". But if a reference is like "ISO/IEC 123" what would the `workgroup` be?

[2018-05-03 13:09] ronaldtse commented on #21
Workgroup for ISO 123 is listed on the webpage as Technical Committee : ISO/TC 45/SC 3 Raw materials (including latex) for use in the rubber industry

[2018-05-03 16:07] andrew2net commented on #21
@ronaldtse ok `IsoBibliographicItem.workgroup` is an instance of `IsoprojectGroup` and has `technicalCommittee` attribute with name "ISO/TC 45/SC 3 Raw materials (including latex) for use in the rubber industry". But `IsoprojectGroup` nested `name` attribute from `Organisation`. So what is the name of the organisation? ISO?

[2018-05-03 23:31] opoudjis commented on #19
https://github.com/riboseinc/asciidoctor-iso/issues/142

[2018-05-04 01:29] ronaldtse commented on #19
Thanks @opoudjis ! @andrew2net could you take the appropriate action here? Thanks!

[2018-05-04 02:14] ronaldtse commented on #21
The ISO organization should be modeled as:

[code]

[2018-05-04 08:38] andrew2net commented on #19
@ronaldtse despite in gramma documentidentifier doesn't contain a prefix, we can generate XML where dovumentidentifier includes the prefix. So I agree with @opoudjis, we don't have to change gramma. But if you decide to change it, no problem.

[2018-05-05 00:44] ronaldtse commented on #19
Thanks @andrew2net !

[2018-05-20 11:14] opoudjis commented on #19
Has this ticket been resoolved, @andrew2net? If not, do you need any further action from me?

[2018-05-20 11:25] andrew2net commented on #19
@opoudjis I have no question related to the ticket. Suppose we could close it.

[2018-05-20 14:03] #19 closed

[2018-05-25 03:07] opoudjis opened #22 "Change serialisation of point dates"
Reference https://github.com/riboseinc/asciidoctor-iso/issues/145

Btw, could you let me know when this gem will be ready to integrate into asciidoctor-iso?

[2018-05-25 06:47] andrew2net commented on #22
@opoudjis The gem is integrated with branch https://github.com/riboseinc/asciidoctor-iso/tree/fetch_isobib, but I'm thinking its good idea if you or @ronaldtse review the branch before merging with the master.
Concern riboseinc/asciidoctor-iso#145 I've seen the issue but didn't find any changes in Bibliographic Item ULM model https://github.com/riboseinc/bib-models. Do it need to change all date/f

[2018-05-28 06:58] andrew2net commented on #22
@opoudjis done this

[2018-05-28 06:58] #22 closed

[2018-05-29 23:57] #18 closed

[2018-06-01 12:43] opoudjis opened #23 "Omitted "all parts""
I want to confirm what behaviour we want here, @ronaldtse.

The Rice document cites ISO 16634, as a document in progress. For whatever reason, it has no "all parts" in the citation.

The document eventually came out in part 1 and part 2: ISO 16634-1 and ISO 16634-2. That's what isobib finds. isobib does not therefore find a match for document ISO 16634.

Good practice is that this is correct behav

[2018-06-01 12:55] opoudjis commented on #23
Note that I am also going to be checking the year of publication, where it is supplied. If there is a mismatch, I will likewise be reporting a "match not found" error.

[2018-06-01 13:13] opoudjis opened #24 "Erroneous date of publication"
Motivation for this ticket: standards can be cited by date for a date-specific version, which may be an obsolete version.

I am checking the date of publication for ISO standards in the Rice model document. (Refer to my latest checkin for asciidoctor-iso on how.)

ISO 8351-1:1994 is cited in the document with that date. Asciidoc-iso checks that the isobib standard retrieved was also published that

[2018-06-01 13:34] opoudjis commented on #24
Even more damaging: when a standard is obsoleted, its date is being reported as the date when it is obsoleted, not the date it was published! So:

I am citing ISO 2146:1988

The dates of the three versions of ISO 2146 are being reported as follows:

* ISO 2146:2010 (confirmed 2015) => 2015
* ISO 2146:1988 => 1999 (?!)
* ISO 2146:1972 (superseded 1988) => 1988

So when I cite  ISO 2146:1988, and tr

[2018-06-02 00:05] ronaldtse commented on #23
@opoudjis this is a great example. You're right -- let's issue an warning, and give the exact next steps, something like:

[code]

[2018-06-02 00:08] ronaldtse commented on #24
Thanks for the examples @opoudjis . The date code is always the year of the publishing date. @andrew2net could you help fix this soon? This is an important issue. Thanks!

[2018-06-02 06:15] andrew2net commented on #24
@ronaldtse Yes, I can. will do it on Monday.

[2018-06-02 09:54] opoudjis opened #25 "Sorting through entries returned from isobib"
Isobib returns a big list of entries; the first entry found is not necessarily the right entry to return, and both @andrew2net and I have several routines in asciidoctor-iso that sort through the returned isobib entries, (a) confirming that the right document code has been returned; (b) trying to match on year; (c) ignoring matches with no titles (e.g. https://www.iso.org/standard/15905.html).

Th

[2018-06-02 10:46] opoudjis commented on #23
The isobib match is returning everything in the world, and we are not yet filtering it elegantly. For now, I'm going to post generic guidance:

[code]

[2018-06-02 10:47] opoudjis commented on #23
Added this code to asciidoctor-iso (where the isobib filtering is currently taking place, pending https://github.com/riboseinc/isobib/issues/25)

[2018-06-02 10:47] #23 closed

[2018-06-03 23:39] opoudjis opened #26 "Encoding of mockup"
rspec not working, because the website is in UTF-8, but the double of the scrapper is in ASCII:

[code]

I tried forcing the encoding of the retrieved page to be UTF-8, but that didn't work.

[2018-06-03 23:45] opoudjis commented on #26
Note that I've made some changes to isobib, to improve parsing of titles: if a title has no --, what is left is the main, not the intro of the title; and title is mandatory, so if none is recovered from scraping, I output "".

[2018-06-04 16:03] andrew2net commented on #26
@opoudjis I'm trying to reproduce the issue but got other error:
[code]
wondering why did you change Hit's to_xml method?
[code]
HitPages has to_xml method which calls Hit to_xml with a builder. Now it doesn't work. If we don't need call to_xml method on HitPages instance then I remove it and the test case.

[2018-06-04 18:47] andrew2net commented on #24
@opoudjis `hit.hit` contains hash which is returned by Algoliasearch service. You shouldn't use it as a source of data. `hit.fetch` returns `IsoBibItem::IsoBibliographicItem` instance which has `dates`.

[2018-06-06 16:38] #5 closed

[2018-06-06 16:39] #6 closed

[2018-06-06 16:39] #9 closed

[2018-06-06 16:40] #11 closed

[2018-06-06 16:41] #12 closed

[2018-06-06 16:42] #13 closed

[2018-06-06 16:43] #14 closed

[2018-06-06 16:45] #15 closed

[2018-06-06 16:45] #21 closed

[2018-06-06 17:18] andrew2net commented on #25
@opoudjis could we close this issue?

[2018-06-06 17:22] andrew2net commented on #1
@ronaldtse could we close this issue?

[2018-06-06 17:23] andrew2net commented on #2
@ronaldtse could we close this issue?

[2018-06-06 22:51] ronaldtse commented on #1
Yes! And we're going to migrate to a new name for isobib, gbbib to become Relaton.

[2018-06-06 22:52] ronaldtse commented on #3
I don't even remember what this is for.

[2018-06-06 22:52] #3 closed

[2018-06-07 08:16] #1 closed

[2018-06-08 13:06] opoudjis commented on #26
I was trying to get the isobib rspec to work, but honestly, I don't remember what I was thinking here, and the default value of builder was nil anyway. Reinstate your code from before:

[code]

If the asciidoctor-iso rspec breaks, I'll let you know.

[2018-06-08 13:07] opoudjis commented on #25
No, because I want to check what you've done against what filtering I already have in place.

[2018-06-08 13:28] andrew2net commented on #25
@opoudjis I don't understand what I should do with this issue. But want to mention that `hit.hit["year"]` isn't the year of publishing. The `hit` hash is returned by Algoliasearch service. I don't know what is `hit.hit["year"]`. Suppose we can extract publishing year from `hit.hit["title"]`.

[2018-06-08 13:31] opoudjis commented on #25
It's a request to refactor isobib to do filtering by year; but there's nothing to be done until I have filtering code in place in asciidoctor-iso that works.

[2018-06-08 13:38] opoudjis commented on #24
@andrew2net , hit_pages = Isobib::IsoBibliography.search("19115") takes a couple of seconds to run;  hit_collection[0].fetch is taking something like 5 seconds. (That's the first time I do the fetch; if I refetch it, it's instantaneous, which presumably means that the web client is caching.) Is this discrepancy because hit_pages fetches a page of search results, and hit_collection[0].fetch is fetc

[2018-06-08 13:59] andrew2net commented on #24
@opoudjis when we call `hit_pages = Isobib::IsoBibliography.search("19115")` the IsoBib gem use Algoliasearch API to get JSON with relevant result.
The result contains the first page of most relevant documents. If we call `hit_pages[1]` then we get next page of results. `hit_pages.size` returns a number of pages. Since the most relevant documents are on the first page I don't think we need to get

[2018-06-09 01:57] ronaldtse commented on #24
Food for thought - @opoudjis the ISO website limited to 3 concurrent accesses, so it’s a limitation we need to deal with.

But in any case, a response got to be faster than 5 sec, right? Maybe it’s doing something more that is unnecessary?

[2018-06-09 03:04] opoudjis commented on #24
I would suggest to fetch only the first page of search results, and then load the individual documents from that first page 3 at a time when iterating through them to filter out the correct match.

[2018-06-10 14:00] opoudjis opened #27 "All Parts is not a single reference"
If I look up "ISO 5725 (all parts)", I get a match for the 1981 instance of ISO 5725, when that standard was a single document. But the reference in fact should be matching ISO 5725-1 through ISO 5725-6, which are published in 1994 and 1998, not the older reference.

The issue is that "ISO 5725 (all parts)" is not a single reference, the way documents are retrieved from isobib, and I don't think w

[2018-06-10 14:34] opoudjis commented on #24
I'm happy with the filtering code, and I think it should move into isobib:

[code]

So the gem client call becomes just: isobib_get(code, year, opts)

In fact, it's not clear to me that the opts are as necessary, but we'll delay that decision.

[2018-06-10 23:30] ronaldtse commented on #27
Agree, let's take the first part for citing "all parts"!

[2018-06-11 08:20] opoudjis commented on #24
Hold off on integrating the code, I'm integrating All Parts and undated reference code.

[2018-06-11 08:52] opoudjis opened #28 "rspec not working: encoding"
[code]

— which is why I'd introduced

[code]

[2018-06-11 09:00] opoudjis commented on #27
@andrew2net I have modified isobib and iso-bib-item code:

Isobib scrapper.rb (unrelated code change)

[code]

iso-bib-item iso_bibliographic_item.rb

[code]

[2018-06-11 09:20] opoudjis commented on #27
@ronaldtse I'm adding an optional allParts element to IsoBibliographicItem.

[2018-06-11 09:35] ronaldtse commented on #27
@opoudjis that's great, thanks!

[2018-06-11 09:53] opoudjis commented on #27
Done.

[2018-06-11 09:53] #27 closed

[2018-06-11 12:45] opoudjis commented on #28
Closing: duplicates #26

[2018-06-11 12:45] #28 closed

[2018-06-18 10:45] #2 closed

[2018-06-18 10:55] andrew2net commented on #26
I have not any errors.

[2018-06-18 10:55] #26 closed

[2018-06-18 12:45] andrew2net commented on #26
@opoudjis please try this https://stackoverflow.com/questions/17031651/invalid-byte-sequence-in-us-ascii-argument-error-when-i-run-rake-dbseed-in-ra
I can't reproduce the issue. Looks like it's related to system settings.

[2018-06-25 14:32] opoudjis commented on #24
Folded in functionality from asciidoctor-iso. Documented in Readme (public `isobib_get() function), rspec'd.

[2018-06-25 14:33] #24 closed

[2018-06-25 14:47] opoudjis commented on #25
Obsoleted by code included in #24

[2018-06-25 14:47] #25 closed

[2018-06-27 08:21] opoudjis opened #29 "Rename isobib_get to get"
Here and in downstream gems

[2018-06-29 12:37] #29 closed

[2018-06-30 15:22] andrew2net opened #30 "Regex in isobib_search_filter"
@opoudjis do you know what is the last slash in regex for `^(ISO|IEC)[^0-9]*\s[0-9-]+:[0-9]+/`?
/lib/isobib/iso_bibliography.rb:66
[code]

[2018-06-30 15:47] andrew2net commented on #30
ok, I understand it

[2018-06-30 15:47] #30 closed

[2018-07-02 01:01] opoudjis opened #31 "Migrate cache management from asciidoctor-iso"
https://github.com/riboseinc/asciidoctor-iso/issues/156#issuecomment-401407882

The code involved is all references to the `@bibdb` and `@local_bibdb` caches currently in asciidoctor-iso. The caches are managed in asciidoctor-iso; the request is that they be encapsulated in isobib, so that asciidoctor-iso only ever issues a get request without managing caches.

[2018-07-02 01:01] opoudjis commented on #31
@andrew2net I'm happy to do this, assigning it to you in case I don't get it to it. But I don't believe it is urgent.

[2018-07-04 16:36] andrew2net commented on #31
@opoudjis Ronald asked me to create gem which will cache refs https://github.com/riboseinc/rfcbib/issues/2#issuecomment-401409021
It should also fetch any types of documents. Do we plan to compose asciidoctor-* into one gem?

[2018-07-04 17:15] opoudjis commented on #31
No, just have relaton call any of isobib, gbbib and rfcbib, depending on the prefix, and put all of them into local cache. the asciidoctor-* gems remain separate.

[2018-07-04 17:20] opoudjis commented on #31
I was going to start on that gem tonight, but I ended up debugging iso-bib-item (most of this strange Nokogiri behaviour from the asciidoctor-iso consumer, but also some updates to relation types.) So you'll prob get there before me.

[2018-07-06 11:15] opoudjis commented on #31
Done, migrated to new relaton gem.

[2018-07-06 11:15] #31 closed

[2018-08-20 04:54] ronaldtse opened #33 "Error when fetching ISO 50001"
Fetching ISO 50001 causes this error.

In `metanorma-iso` document
[code]

Error trace:
[code]

[2018-08-20 04:59] ronaldtse opened #34 "Bump version to 0.2.4?"
Seems that the branch is created but not yet released? Thanks.

[2018-08-20 05:02] ronaldtse commented on #33
Update: This still happens with the latest HEAD at 0.2.4

[2018-08-20 14:04] opoudjis commented on #33
The gem is quite randomly grabbing /sites/isoorg/home/standards/popular-standards/iso-50001-energy-management as a match for ISO50001; this is not a URL that the code expects to find, and I'm forcing the code to ignore it.

This is happening because, for efficiency, I am processing three pages at a time simultaneously. The top hit is usually the best; but the other two pages being processed need n

[2018-08-20 14:05] #33 closed

[2018-08-21 08:39] #34 closed

[2018-09-01 06:35] opoudjis opened #35 "isobib can't find the ISO/IEC Directives"
... Because they do not show up in a search on the ISO website. (The Rice model does :-(

This is bad; bad enough, @ronaldtse, that it should be escalated to ISO. The gem is predicated on the assumption that all ISO publications are discoverable through the web search. In the interim, I will need to code an exception in the gem for the contents of http://www.iso.org/directives.

[2018-09-01 07:47] opoudjis commented on #35
I am restricting the manual exceptions in isobib to:

* ISO/IEC Directives, Part 1
* ISO/IEC Directives, Part 1 Consolidated ISO Supplement
* ISO/IEC Directives, Part 2

And the citations will need to appear exactly like that. I have no idea if there even is a document identifier for the other documents appearing in http://www.iso.org/directives, such as the Vienna agreement; and if ISO have not (

[2018-09-01 07:50] ronaldtse commented on #35
And these? 😉

http://www.iec.ch/members_experts/refdocs/

e.g. "ISO/IEC Directives, IEC Supplement:2018"

[2018-09-19 13:55] opoudjis commented on #35
Unfortunately while the PDFs of ISO/IEC DIR are discoverable at IEC, which they are not at ISO, that's useless, because there is no associated landing page in the webstore, so there is no discoverable metadata about the PDFs. Nor will either ISO or IEC be motivated to create landing pages for them. The only way unfortunately is to create custom XML :(

[2018-09-25 06:10] ronaldtse opened #36 "Replace `pstore` with Relaton XML storage"
@opoudjis @andrew2net

We wish to replace the current `pstore` caches used in all Relaton data sources (ISO, IEC, IETF etc) with Relaton XML storage.

The current `pstore` cache is simply not portable and hard to maintain in source code repositories. I want to maintain each Relaton entry as a separate file.

1. Each Relaton entry should be stored in a separate file. i.e. if we found "ISO 9001:2015

[2018-09-25 09:13] andrew2net commented on #36
@ronaldtse Ok, I will do it a few days late. Have to finish some work.

[2018-09-30 23:14] opoudjis commented on #36
As a consequence, the from_xml routine needs to be robust and tested for each biblio class.

[2018-10-02 02:31] ronaldtse commented on #35
Right, perhaps we can make a general mechanism that overrides Relaton Bib items.

For example, we could have a new repo called "relaton-iso-overrides" that details these “special cases” in some YAML file, and Relaton will use these to override.

I’m pretty sure we will run into these soon, not only for ISO, but also other orgs like IEC etc.

[2018-10-02 15:29] andrew2net commented on #36
if we need to recreate an item from XML then we should store the class name of the item in the cache. I see 2 ways how to do this:

1. When a processor registering in Relation then it should save class name for item
[code]
So in Relaton we can associate class with item ans save it in the cache.

2. Return from IsoBib, GbBib etc, objects instead of XML strings. Then we could get class name from the

[2018-10-02 15:34] ronaldtse commented on #36
@andrew2net we do not want to store the "class name" because those are subject to change.

The `prefix` (or author information) will already tell us what class we need to instantiate, right?

[2018-10-02 15:55] andrew2net commented on #36
@ronaldtse Not right. Caching is in Relaton gem. Other gems like IsoBib, GbBib registers themselves in Relaton and provide prefix and method to get item. The prefix allows recognizing related reference. So we can get an item in XML format and store it in the cache. But when we get the item from the cache we don't know which class use to create the item's object from XML. If we coding association p

[2018-10-02 16:14] ronaldtse commented on #36
@andrew2net this must be a misunderstanding. There should not be a class name inside this cache. This is not a binary cache, it is a bibliographic entry that will be stored in XML format.

In order to know which class to instantiate from the XML, the "type" of the object is stored in the XML itself. For example, if the entry is:

[code]

We can infer the type from the "type" attribute.

cc: @opoud

[2018-10-02 22:59] opoudjis commented on #36
Eh.... the type currently does not incorporate a namespace; it is just a token like "standard". And I don't think it should have a namespace.

The class is being inferred from the document identifier prefix by default, but that will not generalise in all cases (particularly GB). The author or publisher contributor could be used as well, but that leads to a complex and fallible rules engine.

Hate

[2018-10-03 09:38] andrew2net commented on #36
@ronaldtse we have to store also `fetched` date in the cache, so I use `yaml` files
[code]
It's not problem to add `class_name` attribute

@opoudjis I think the easiest way would be adding `to_xml` method to the processor interface. What do you think?

[2018-10-03 09:40] ronaldtse commented on #36
I strongly urge the usage of some type or namespace. For example, `<bibdata type="uri:calconnect.org:documents:standard">` totally makes sense and is not an `xmlns` (which everyone hates).

We can store the `fetched` date in the `<bibitem>` as well, because it is valid (in citations we often have "last accessed" date too).

And we want the files to be usable as standalone files as well.

[2018-10-03 10:20] andrew2net commented on #36
So we need 2 new attributes in bibdata (class_name and fetched), do we?

[2018-10-03 10:32] ronaldtse commented on #36
I think fetched should be an element, and class-name should really be 'type' for the “uri:...”

[2018-10-05 09:18] andrew2net commented on #36
Done it.
@opoudjis I added method `from_xml` to the processor and did some fixes in IsoBibItem and *bib gems. So we need to republish IsoBibItem, IsoBib, GbBib, and IETFBib gems.

[2018-10-16 23:02] #36 closed

[2018-12-30 06:57] ronaldtse opened #37 "Fetching ISO vs ISO-joint-published standards"
Fetching `ISO 2382` vs `ISO/IEC 2382` results in a difference on what is returned.

From @opoudjis :

@andrew2net could you help fix this (and spec it)? Thanks!

[2018-12-31 00:07] opoudjis commented on #37
What is there to fix though? It is correct that `ISO/IEC 2382` works and `ISO 2382` does not. You should be providing the exact document identifier for fetching that ISO itself uses, not a truncation of it.

[2018-12-31 01:09] ronaldtse commented on #37
Well, what you said is true but can often cause confusion. For example, people often refer to "ISO/IEC 27001" as "ISO 27001", and we should not bail on such since we have the information to recover from this. At most we should return a "warning". Right?

[2018-12-31 09:08] opoudjis commented on #37
That's assuming you can trust the user to mean "ISO/IEC 27001" when they say "ISO 27001". Is it guaranteed that there will never be an ISO/X nnnn standard and an ISO/X nnnn standard with the same number? If so, as long as ISO is the first named body in the list of standards bodies.... I guess it's OK.

[2018-12-31 10:06] ronaldtse commented on #37
Yes, the ISO project number for joint publishing will not be reused.

If there is an ISO/IEC 27000, then:
* ISO only has ISO/IEC 27000
* IEC may have IEC 27000

[2018-12-31 12:15] andrew2net commented on #37
@ronaldtse @opoudjis Could you explain how we can get what user means `ISO/IEC 2382` when he refers to `ISO 2382`?

[2018-12-31 13:10] ronaldtse commented on #37
@andrew2net at ISO, a project number is only assigned once. For example, `2382` can be assigned to `ISO 2382`, or `ISO/IEC 2382` or `ISO/IEEE 2382` or `ISO/IEC/IEEE 2382`.

In this case, `2382` is assigned to `ISO/IEC 2382`. This means that `ISO 2382`, `ISO/IEEE 2382` and `ISO/IEC/IEEE 2382` all don't exist.

So if user searches for `ISO 2382` and the result gives `ISO/IEC 2382`, it means the corr

[2018-12-31 14:34] andrew2net commented on #37
@opoudjis so we should try `ISO 2382` first. If no documents except `ISO 2382-*` found then we should try `ISO/IEC 2382`. Right?

[2019-01-02 08:35] opoudjis commented on #37
If the prefix is ISO/IEC 2382, 2382-1 will have same prefix. But yes, if a search for ISO 2382 fails, try ISO/IEC 2382. I guess the hope is that a search for ISO 2382 will retrieve ISO/IEC 2382, and that we will do a prefix match so that that results will not be rejected.

[2019-01-02 10:05] andrew2net commented on #37
@opoudjis I'm trying to understand when the search fails. If I search for `ISO 2382` it returns me documents:
[code]
How can I determine that the search failed?

[2019-01-03 00:34] ronaldtse commented on #37
Agree with @opoudjis, the search should not match part documents (ISO 2382-X).

[2019-01-04 15:34] andrew2net commented on #37
@opoudjis done it. Please check if all ok.

[2019-01-11 21:53] opoudjis commented on #37
A-OK

[2019-01-11 21:53] #37 closed

[2019-01-20 10:45] opoudjis commented on #35
A separate YAML repo seems unnecessary: this can just be a local cache of XML within this repo. And I take it that's what you want me to do here.

[2019-01-20 12:37] ronaldtse commented on #35
Or we could place that local XML cache is some internet accessible location that the bib gem can fetch :wink:

[2019-03-07 07:50] opoudjis opened #38 "Migrate this repository to github.com/metanorma"
The repository github.com/metanorma has been set up to host all Metanorma related work. This is one such piece of work. While the migration will be slow (there is a lot to do, and a lot of interdependencies), we need to schedule migration for all related repositories.

Migration to Metanorma:

* Repost the repository to http://github.com/metanorma/X
  * This should be as simple as changing the fol

[2019-03-07 13:59] andrew2net commented on #38
@ronaldtse should I work on it?

[2019-03-07 14:37] ronaldtse commented on #38
Yes please!

[2019-03-07 19:03] andrew2net commented on #38
@opoudjis @strogonoff done.

[2019-03-09 11:03] #38 closed

[2019-03-21 17:13] CAMOBAP795 opened #39 "Ruby 2.3 SSL_connect returned=1 errno=0 state=error: certificate verify failed (OpenSSL::SSL::SSLError)"
[code]

Issue was discovered here https://github.com/metanorma/ogc-tcpnp/pull/2 reproduces only on Ruby 2.3 on windows

[2019-03-21 17:13] CAMOBAP795 commented on #39
@ronaldtse please triage how important it is

[2019-03-22 03:32] ronaldtse commented on #39
I think it's not that important. Let's drop Ruby 2.3 from Windows support. Ruby 2.3 is really only for Portable Ruby.

[2019-03-22 12:14] CAMOBAP795 commented on #39
Ok

[2019-03-22 12:14] #39 closed

[2019-05-12 11:01] opoudjis opened #42 "bibdata refactor changes"
The following changes impact this gem, as elements moved to bibdata/ext from bibitem. All elements specific to ISO must be populated in bibdata/ext; please ask me if there are any changes not covered in the following.

The grammar of ext is:

[code]

* The type of standard, e.g. "international-standard", is no longer set in `bibitem/@type`. It is now set in `bibdata/ext/doctype`

* `title-main` is

[2019-05-12 11:04] opoudjis commented on #42
For all of these, let me know if you need XML samples; the easiest thing to do is to change the spec examples.

[2019-05-17 12:04] andrew2net commented on #42
@opoudjis was the `status` moved to the `BubliographicItem` class?

[2019-05-19 04:01] opoudjis commented on #42
The status is in bibitem, and there is therefore no validation of its vocabulary by enum any more in the grammar: that is flavour-specific, and it is done in the consuming gems for bibdata.

[2019-05-20 11:12] andrew2net commented on #42
@opoudjis there is a `/bibitem/note` element in `IsoBibliographicItem`. We pass the content of the element as an argument of `to_xml` function. In `isostandard.rnc` grammar there is a definition of the `biblionote` which could have `type` and `reference`. Should we be able to pass `type` and `reference` to `to_xml` function?

[2019-05-21 11:19] opoudjis commented on #42
Ah. I was wondering about that.

biblionote now already has the type attribute in relaton; so the type attribute must be passed in.

The reference attribute is an error: I'm removing it. I had it in there because ISO bibliographies are rendered with footnotes, if there is a draft reference. But the footnote is inserted at the isodoc level, if it detects a note entry at all: the footnote is not pre

[2019-05-21 16:18] andrew2net commented on #42
@opoudjis if pass a `note` argument to `to_xml` function we get an xml with `/bibitem/note` element. Should we parse the element when create `IsoBibliographicItem` from xml?

[2019-05-21 22:40] opoudjis commented on #42
I do not understand the question. Note is correctly parsed in bibitem, and isobib does not change anything about it,  now that I have removed the spurious reference attribute.

[2019-05-22 08:17] andrew2net commented on #42
@opoudjis in `IsoBibliographicItem` we pass `note` ooption in `to_xml` function, not in constructor:
[code]
so it doesn't save the option in the model. Should we change the behavior?

[2019-05-22 09:29] opoudjis commented on #42
Ah. I can see why that's done, and why we would want to inject a note into the reference. Preserve this behaviour: any note included in the options should be added to any notes already included in the screenscraped reference.

The user should also have the option of including a type for their note, although I can see that would get awkward. It would also be nice to allow there to be multiple notes

[2019-05-22 09:46] ronaldtse commented on #42
Just to be clear, we want to accept personal notes in Relaton XML/YAML right? This was Relaton can be used in bibliographic managers.

[2019-05-22 11:59] opoudjis commented on #42
You can inject notes; I'm just saying it won't cache them, because the calling client could be inserting a note for any number of transitory reasons. And if your client is a bib manager, surely it doesn't need to cache, because it is storing the results itself.

[2019-05-29 14:05] #42 closed

[2019-06-19 10:15] ronaldtse opened #44 "Citing multi-part standards by default?"
I noticed that usually when people cite multi-part standards they just put something like "ISO/IEC 7816" instead of "ISO/IEC 7816 (all parts)".

Should we help them do that by default (while issuing the same warning)?

[2019-06-20 03:50] CAMOBAP795 opened #45 "uninitialized constant #<Class:RelatonIso::IsoBibliography>::Iecbib (NameError)"
During https://github.com/metanorma/ogc-wfs/pull/3 was discovered issue for Windows https://ci.appveyor.com/project/ribose/ogc-wfs/builds/25406858/job/if51k7cu51y7cxr5

[code]

[2019-06-20 03:51] CAMOBAP795 commented on #45
@ronaldtse please triage how critical this is

[2019-06-20 03:53] ronaldtse commented on #45
@CAMOBAP795 critical, we ought to fix this ASAP.

[2019-06-20 03:54] CAMOBAP795 commented on #45
@ronaldtse just to be on the same page this happens on windows only, but ok I will have look at it

[2019-06-20 03:55] ronaldtse commented on #45
@CAMOBAP795 yes I realize this. Apparently many of our users use Windows, and our support for Windows has been dismal...

[2019-06-23 10:18] opoudjis commented on #44
Which means that, if someone were to request "ISO 639", we don't return the last time ISO 639 was a single standard, ISO 639:1988, but all of ISO 639.

You know, I think that is reasonable. It is a bit more work in ISO: you will have to search for "(all parts)" along with the bare code, and if the "all parts" result is more recent, return that by default, with a warning. The reasoning here is, if

[2019-07-03 06:09] CAMOBAP795 commented on #45
Don't reproduce anymore

[2019-07-03 06:09] #45 closed

[2019-07-04 09:13] ronaldtse opened #47 "Fetching "in-progress" documents (such as ISO/DIS 20674-1)"
I have a document that cites ISO 20674-1, which is actually in DIS stage. Its details can be found on the ISO site: https://www.iso.org/standard/68790.html

This task is to allow citing a work-in-progress document.

What do you think @andrew2net ?

At least, these messages should be modified:

[code]

[2019-07-07 01:43] ronaldtse opened #48 "Fetching Cor and Amd documents"
We currently don't handle Cor and Amd documents. We should do so. Here are the examples.

Amd: (an Amendment document on a standard)
* ISO 3964:2016/Amd 1:2018 https://www.iso.org/standard/73624.html
* ISO 8124-3:2010/Amd 2:2018 https://www.iso.org/standard/74083.html
* ISO/IEC 14496-12:2015/Amd 2:2018 https://www.iso.org/standard/71851.html

Amd + CD: (in progress development of an Amendment docu

[2019-07-07 01:48] ronaldtse opened #49 "Fetching "ISO Guide" documents"
ISO documents also include "Guides", e.g.

* ISO Guide 73:2009 https://www.iso.org/standard/44651.html
* ISO Guide 82:2014 https://www.iso.org/standard/57775.html

For these guides, they are also publicly available for free, so there is a access link for them. We will want to add this link to the fetched entry:

e.g. ISO Guide 82: http://isotc.iso.org/livelink/livelink?func=ll&objId=16544468&objAc

[2019-07-07 01:50] ronaldtse commented on #47
The document stages are: WD, CD, DIS, FDIS.

In ISO form, they are `ISO/{stage}`: "ISO/WD", "ISO/CD", etc.
In ISO/IEC form, they are `ISO/IEC {stage}`: "ISO/IEC WD", "ISO/IEC CD", etc.

[2019-07-07 01:56] ronaldtse opened #50 "Retrieving bibliographic date information from fetch"
iso.org now provides bibliographic dates for every document (sometimes incomplete):

ISO 34000 (https://www.iso.org/standard/77019.html):

(Document is in progress, so it is labeled AWI, stage 20)

<img width="530" alt="Screen Shot 2019-07-07 at 9 51 55 AM" src="https://user-images.githubusercontent.com/11865/60762956-dc20f300-a09c-11e9-8df9-ddc3fd868a40.png">

<img width="377" alt="Screen Shot 20

[2019-07-07 01:58] ronaldtse opened #51 "Retrieving bibliographic relations"
Each document contains relationships:

ISO 8601-1:2019 (https://www.iso.org/standard/70907.html)

<img width="471" alt="Screen Shot 2019-07-07 at 9 57 18 AM" src="https://user-images.githubusercontent.com/11865/60762997-9c0e4000-a09d-11e9-80b0-23da6a6f1c17.png">

The date of superseding can be found in the bibliographic date:

<img width="635" alt="Screen Shot 2019-07-07 at 9 57 40 AM" src="https:

[2019-07-09 12:07] andrew2net commented on #48
@ronaldtse is published year of documet [ISO 19110:2005/Amd 1:2011](https://www.iso.org/standard/44459.html) 2005 or 2011? On the page publication date is `Publication date : 2011-06`, but in reference it has 2005 year. So there is a problem when we search the document by the reference because year in the reference doesn't mutch year of document.

<img width="782" alt="Снимок экрана 2019-07-09 в 1

[2019-07-09 12:42] ronaldtse commented on #48
@andrew2net the way to parse this is:

`ISO 19110:2005/Amd 1:2011`

* Document identifier of base document that is getting amended: `ISO 19110:2005`
* Document identifier of amendment document: `{base-document}/Amd 1:2011`.

The edition year is therefore `2011`.

[2019-07-09 20:12] #48 closed

[2019-07-12 09:08] andrew2net commented on #49
@ronaldtse what type should we use for the links? Maybe `pub`?
The ISO Guide 82:2014 is available for free but ISO Guide 73:2009 isn't. Right?

[2019-07-12 11:50] andrew2net commented on #49
There is a new type of link `pub`. The type contains a link to free publication.

[2019-07-12 11:50] #49 closed

[2019-07-12 14:14] andrew2net commented on #47
@ronaldtse should `relaton-iso` fetch documents with DIS stage even if a reference is without a stage?
When I tried to search a document by ISO/DIS 20674-1 reference it returns the [document](https://www.iso.org/standard/68790.html).
I think we should put a stage in reference if we need to find a document with a certain stage.

[2019-07-12 14:45] ronaldtse commented on #47
Yes, you’re right. However, sometimes it’s not clear what stage it is...

Can we do it like ISO/IEC documents where we fetch a second time?

[2019-07-12 14:57] andrew2net commented on #47
Yes, we can. The question is: should we try to search only the DIS stage? Or should we try all the stages?
I don't like the way we fetch ISO/IEC second time. Because we get the document once but it doesn't pass filter fy code. It takes not much time when we have only ISO/IEC to try, but in case we have more options I'd like to optimize the algorithm.

[2019-07-13 01:39] ronaldtse commented on #47
Would we be able to discover the DIS stage document in the first index search?

[2019-07-13 15:31] andrew2net commented on #47
It could be in the first search result, if not then we have to search with modified reference. For ISO 20674-1 reference there is DIS document in the first search result.

[2019-07-14 06:56] ronaldtse commented on #47
@andrew2net I think we use the first search result. If there is no in-progress document returned, we assume:

1. It is not a publicly available document
2. The document does not exist
3. Or it is an ISO/IEC one.

[2019-07-14 10:50] andrew2net commented on #47
@ronaldtse How about stages? If nothing found with ISO 20674-1 reference should we try to search wit stages ISO/WD 20674-1, ISO/CD 20674-1, ISO/DIS 20674-1, ISO/FDIS 20674-1?

[2019-07-14 11:56] ronaldtse commented on #47
@andrew2net Try these?

ISO/CD 30300 https://www.iso.org/standard/74291.html
ISO/WD 29995 https://www.iso.org/standard/54664.html
ISO/FDIS 35001 https://www.iso.org/standard/71293.html

[2019-07-14 11:56] ronaldtse commented on #47
29995 can be found in search with string "29995".

[2019-07-14 12:01] ronaldtse commented on #47
@andrew2net actually ISO now has an Advanced Search that allows searching by number:

https://www.iso.org/advanced-search/x/

It also allows searching by Stage Code.

<img width="1138" alt="Screen Shot 2019-07-14 at 8 00 36 PM" src="https://user-images.githubusercontent.com/11865/61183284-0dd42400-a672-11e9-9801-1a9a55fa5770.png">

So this is actually perfect for our use!

[2019-07-14 12:16] andrew2net commented on #47
@ronaldtse so the algorithm is:
1. Try to serach documet using given referemce
2. If no docs found and reference isn't ISO/IEC then try to search ISO/IEC
3. If no docs found and stage isn't given then try to search with stage WD
4. If no docs found and stage isn't given then try to search with stage CD
5. If no docs found and stage isn't given then try to search with stage DIS
6. If no docs found

[2019-07-14 13:00] ronaldtse commented on #47
The algorithm is very simple using Advanced Search:

1. Try to search document using document number through Advanced Search. This will return documents (ISO or ISO/IEC) with these stages: WD, CD, DIS, FDIS. When the document number is entered, remember to split the part number into the structured search field.

ISO and ISO/IEC document numbers don't overlap, so the results will return them.

[2019-07-15 10:58] andrew2net commented on #47
@ronaldtse how the stages  WD, CD, DIS, FDIS correspond to the search options?
[code]

[2019-07-15 11:01] ronaldtse commented on #47
https://www.iso.org/stage-codes.html

Stage 10: NP (non-public)
Stage 20: WD (non-public)
Stage 30: CD
Stage 40: DIS
Stage 50: FDIS
Stage 50.60: PRF ("proof") (non-public)
Stage 60: IS

[2019-07-16 15:49] andrew2net commented on #47
@ronaldtse there are a lot of ISO and ISO documents with number 2382.

[2019-07-16 23:31] ronaldtse commented on #47
There is only 1 current one (2382) and two part standards (2382-36 and 2382-37)?

<img width="1171" alt="Screen Shot 2019-07-17 at 7 31 08 AM" src="https://user-images.githubusercontent.com/11865/61336692-da0d2000-a864-11e9-8eaa-1444789319f9.png">

The rest are withdrawn or deleted.

[2019-07-17 01:03] ronaldtse commented on #47
In any case, we need to fetch the full results for search. I realized that if we increase the search scope (published + under development + withdrawn + deleted) there will be 7 pages of results. I wonder if we can fetch them all at one go... But it looks like an HTML response...?

[2019-07-17 11:27] andrew2net commented on #47
www.iso.org returns search result in JSON format. For 2382 and full scope (published + under development + withdrawn + deleted) it's only 140 kB. No problem to fetch search result.
We need to make an algorithm to find a proper document in a search result in case something missed in reference. For example, ISO 20674 gives us 61 ISO and ISO/IEC documents. The only one without part is ISO/IEC. Should

[2019-07-17 13:21] andrew2net commented on #47
Let's divide a reference into parts. Assume possible references are:
- `ISO {num}-{docpart}:{year}` - `docpart` and `year` are optioal. `docpart` is `[\w-]+`
- `ISO/{stage} {num}-{docpart}:{year}` or `ISO/{subprefix} {stage} {num}:{year}` - stages are WD, CD, DIS, FDIS, AWI
- `ISO/{subprefix} {stage} {num}-{docpart}:{year}` - subpefixes are IEC, IEEE, IEC/IEEE, TR, R. Any other?
- `ISO {num}:{year

[2019-07-18 00:31] ronaldtse commented on #47
### publishers and copublishers

This should be:
`ISO/{copublisher} {stage optional} {num}{--docpart optional}:{year}`

`copublisher` can be: IEC, IEEE, IEC/IEEE, CIW ([example](https://www.iso.org/standard/63731.html)), SAE ([example](https://www.iso.org/standard/70918.html))

In addition, there are `IWA` documents in this form:
`IWA {number}:{year}`. [example](https://www.iso.org/contents/data/s

[2019-07-18 16:31] #47 closed

[2019-07-25 09:46] andrew2net opened #53 "Charset issue with Appveyor"
I don't have Windows to test it locally. @CAMOBAP795 could fix it?
https://ci.appveyor.com/project/ribose/relaton-iso/builds/26178193/job/vg7waviiewo3dcws#L520
[code]

[2019-07-25 11:03] andrew2net commented on #53
Can't wait. I'll try to fix it by myself.

[2019-07-25 11:06] ronaldtse commented on #53
Is this the fix needed? `chcp 65001`?

[2019-07-25 11:12] andrew2net commented on #53
Fixed it

[2019-07-25 11:12] #53 closed

[2019-07-27 09:52] opoudjis opened #54 "Undated Document ID request is fetching the wrong version of Document"
There are three versions of ISO 123:

* 1974 (withdrawn)
* 1985 (withdrawn)
* 2001

The previous version of relaton-iso, given an undated request for "ISO 123", was correctly fetching edition 3, from 2001. It is now fetching edition 1, from 1974.

This of course is wrong:

* An undated spec request must fetch the newest matching result, not the oldest
* An undated spec request must ignore all with

[2019-07-27 17:22] ronaldtse commented on #54
@andrew2net could you please help fix this? Thanks.

Right

I'm not sure if this is correct. A document can be still compiled after a reference goes withdrawn, and the reference doesn't necessarily change. However, we should give a warning about it. @opoudjis Right?

[2019-07-28 23:51] opoudjis commented on #54
@ronaldtse This is about undated references. An undated reference should surely fetch the latest *valid* standard, not the latest standard whether valid or withdrawn. (A dated reference, on the other hand, can and should fetch a withdrawn standard.) Of course, if ISO have good processes (which they do), there will always be a more recent valid standard than the withdrawn standard anyway, so it's a

[2019-07-29 10:25] andrew2net opened #55 "Extend hash to biblio mappers through the rest of the relaton stack"
This is part of the Relaton YAML refactor. https://github.com/metanorma/relaton-bib/issues/7

@opoudjis In ISO we have `main`, `intro`, and `part` pieces of title. The pieces come from scrapper as hash `{ title_intro: "Intro", title_main: "Main", title_part: "Part" }`.
The question is: How are titles stored in YAML? Are they stored as strings?
I.e. `Geographic information -- Metadata -- Part 2: Ex

[2019-07-29 10:53] opoudjis commented on #55
Crap.

The user friendly approach is to store them as a single string. The clean approach is to store them as a hash, and the YAML encoding is meant to be close to what is being populated in Relaton.

I suggest we allow both, through special processing in the hash_to_bib method. If it is passed a string for the title, it breaks it up. If it is pass the hash, it passes through the hash.

So the par

[2019-07-30 10:16] #54 closed

[2019-07-30 21:44] ronaldtse opened #56 "Relaton ISO now unable to find ISO documents"
For example,

[code]

But ISO 19101-1:2014 is provided by https://www.iso.org/standard/59164.html.

@andrew2net can you:

* [ ] please fix this
* [ ] add specs (Whatever we have as specs are not enough to guard the situation.)
* [ ] make a re-release
* [ ] yank the broken gem

This is urgent.  Thanks.

[2019-07-31 03:14] opoudjis commented on #53
@CAMOBAP795 could you please confirm the fix?

[2019-07-31 03:44] ronaldtse commented on #53
Or, @andrew2net could you let us know how it was fixed? The AppVeyor config  wasn’t changed. Thanks.

[2019-07-31 05:15] CAMOBAP795 commented on #53
@ronaldtse I suppose by explicitly specifying encoding on File I/O https://github.com/metanorma/relaton-iso/commit/5bd85e17e28f0b16bc56775c001ea427c69080e5 this is much better fixed than just `chcp 65001`

[2019-07-31 06:04] ronaldtse commented on #53
@CAMOBAP795 good point. Do we need to apply this fix on everywhere where this issue exists, or does this not exist anywhere else?

[2019-07-31 06:08] CAMOBAP795 commented on #53
@ronaldtse I think yes because there is no guarantee that some other OS will have UTF-8 by default. For windows cmd encoding almost always not UTF-8

BTW in the past, I did many such fixes

[2019-07-31 06:16] ronaldtse commented on #53
Got it. If you see any of them, please apply. Thanks.

[2019-08-02 13:24] opoudjis opened #57 "Add place of publication"
Because of https://github.com/metanorma/metanorma-ogc/issues/46, please add `<place>Geneva</place>` to all records generated by Relaton (in the right place in the XML, of course.)

[2019-08-02 14:33] #55 closed

[2019-08-03 23:51] ronaldtse opened #58 "Relaton-ISO creates cache for unclean references"
In geolexica.org , both of these files are created in the cache:

* `iso_12620_1999.xml`
* `iso_12620_1999_.xml`

Both files have the same content. Obviously when Relaton creates the cache file, it must be using the normalized document identifier, not what was directly given. e.g. given "ISO 12620:1999 - blah", the normalized filename should still be `iso_12620_1999.xml`.

There are 7 of these in

[2019-08-03 23:53] ronaldtse commented on #58
This also applies to ITU, geolexica.com has:

* `itu_r_rec.tf.686_1.xml` and `itu_r_rec.tf.686_1_.xml`

[2019-08-05 10:22] andrew2net commented on #58
@ronaldtse I'll fix the issue with the underscores.
Concerning using a document identifier. We can't use a document identifier as a filename. The problem is we don't have a document identifier when fetching a document. We have a reference only. Before we retrieve the document from the internet we should check if there is a file with a name matched to the reference.
One document could be fetched by

[2019-08-05 14:24] andrew2net commented on #56
@ronaldtse can't reproduce this issue. I trayed versions 0.6.0, 0.6.1, 0.6.2.

[2019-08-05 16:13] andrew2net commented on #58
This issue is related to `relaton` gem. Move it there.

[2019-08-05 16:13] #58 closed

[2019-08-06 03:15] ronaldtse commented on #58
This is now superseded by https://github.com/metanorma/relaton/issues/53

[2019-08-06 06:32] ronaldtse commented on #56
@andrew2net you're right, I was using `relaton` gem 0.5.5. This is now fixed in geolexica.org https://github.com/ISO-TC211/geolexica.org/commit/d6719aba479c286f64162ae2dd73e1378e4ffc6f . Closing.

[2019-08-06 06:32] #56 closed

[2019-08-06 14:58] andrew2net opened #59 "Catch OpenSSL::SSL::SSLError #29"
To solve the issue https://github.com/metanorma/relaton/issues/49 we need to add OpenSSL::SSL::SSLError to rescue.

[2019-08-06 15:07] #59 closed

[2019-08-09 03:16] ronaldtse opened #60 "Crash in fetching AWI stage document"
Usually the relaton fetch looks like this:

[code]

But given this:

[code]

It crashes:
[code]

This routine of fetching in-development documents should not cause any crashes regardless if we support that particular stage (e.g. AWI).

(And we should support `AWI` stage).

[2019-08-09 03:56] opoudjis commented on #60
Given that this is the first I've heard of AWI, I think you're going to have to defend that statement...

In general though, the relaton gems should probably have a lighter touch on validating content...

[2019-08-09 04:37] ronaldtse opened #61 "Support fetching Amendments"
Amendments are available for different document types named differently:

* FDIS Stage: "ISO 11136:2014/FDAmd 1" https://www.iso.org/standard/73557.html
* DIS Stage: "ISO 3839:1996/DAmd 1" https://www.iso.org/standard/77907.html
* CD Stage: "ISO 16063-1:1998/CD Amd 2" https://www.iso.org/standard/78161.html
* WD Stage: "ISO/IEC 23008-1/WD Amd 1" https://www.iso.org/standard/79145.html
* AWI Stage:

[2019-08-09 04:37] ronaldtse commented on #60
ISO/AWI 24229 https://www.iso.org/standard/78143.html

* AWI stands for "Approved Work Item" for stage code 20.00 (see this link: https://www.iso.org/advanced-search/x/title/status/P,U,W,D/docNumber/docPartNo/docType/0/langCode/ics/currentStage/true/searchAbstract/true/stage/20.00/stageDateStart/stageDateEnd/committee/sdg)

* PWI for "Preliminary Work Item" (but they are not available on ISO websi

[2019-08-13 09:09] ronaldtse opened #62 "ISO's website has updated -- we need to update the data extraction mechanism"
ISO.org now looks different. We need to update the data extraction methods.

@andrew2net is working on it.

[2019-08-13 15:24] #62 closed

[2019-08-14 09:40] andrew2net commented on #60
@ronaldtse the `ISO/AWI 24229` doesn't have a publication date. So `copyright/from` is empty.
We have to options:
- don't make copyright element
- use stage data as `copyright/from` value

What do you think?

[2019-08-14 09:44] ronaldtse commented on #60
I think we keep the copyright element but just not fill in the “from”. We can document this as “copyright year unknown”

[2019-08-14 10:28] andrew2net commented on #60
The issue is related to `relaton-bib' gem https://github.com/metanorma/relaton-bib/issues/11

[2019-08-14 10:40] #60 closed

[2019-08-17 14:52] ronaldtse opened #63 "Failure of fetching ISO/PRF 20674-1 (urgent)"
ISO 20674-1 has just entered PRF stage as "ISO/PRF 20674-1", and now Relaton is crashing on this.

Full trace:

[code]

[2019-08-19 09:43] andrew2net commented on #63
@ronaldtse this issue is the same as #60. It was solved. Did you try the last commit?

[2019-08-19 11:40] opoudjis opened #64 "ISO `<project-number>` now showing as `?`"
Docnumber is the  numeric component of the standard identifier; it is used for sorting purposes. So in ISO/IEC 3999-1, docnumber has the value 3999.

Docnumber is not currently being extracted in this gem's scrapper (nor I assume in the others). I request that it be extracted: I am now using it to sort bibliographic references in rendering.

Not urgent.

[2019-08-19 11:53] ronaldtse commented on #64
Strange, I thought docnumber was always a separate element in Relaton.

[2019-08-19 16:05] ronaldtse commented on #63
@andrew2net confirmed, it's fixed in the git version. Please help release. Thanks!

[2019-08-19 16:05] #63 closed

[2019-08-19 16:05] ronaldtse commented on #60
@andrew2net confirmed fixed. Thanks!

[2019-08-19 16:31] ronaldtse commented on #64
@opoudjis previously, the project-number was always visible like this:

[code]

However, recently it became this:

[code]

This is a bug in Relaton-ISO (presumably after the ISO layout update).

@andrew2net can you please help?

This is also blocking https://github.com/metanorma/metanorma-standoc/pull/102 (the specs fail).

Thanks!

[2019-08-19 16:31] ronaldtse commented on #64
ping @CAMOBAP795 FYI

[2019-08-19 16:39] ronaldtse opened #65 "ISO titles now missing?"
Before:

<img width="900" alt="image" src="https://user-images.githubusercontent.com/11865/63283072-d268ed00-c2e2-11e9-9701-c0b31ed82a9b.png">

Now:
<img width="585" alt="Screen Shot 2019-08-20 at 12 38 37 AM" src="https://user-images.githubusercontent.com/11865/63283085-da289180-c2e2-11e9-98d1-1a939e6b20f8.png">

@andrew2net could you please help fix? Is this because the gem isn't released?

[2019-08-19 16:41] ronaldtse commented on #65
Previously there was also FR language, but now it's gone. (maybe we should also add RU since it's now available)

[2019-08-20 06:00] opoudjis commented on #64
It *is* a separate element, and it needs to be extracted as well as the document identifier. So this ticket is now describing two distinct tasks:

* Extract the ordinal number out of the document identifier, and present it as docnumber
* Correctly populate the structured identifier

[2019-08-20 06:51] ronaldtse commented on #64
Thanks @opoudjis for the clarification!

[2019-08-20 09:40] andrew2net commented on #65
@ronaldtse as I see `metanorma-standoc` uses an old version of `relaton`. `Gemfile.lock` has:
[code]
The last version of `relaton` is `0.5.2`. Please update `relaton` and try again.

[2019-08-20 09:41] #64 closed

[2019-08-20 09:58] ronaldtse commented on #65
@opoudjis can you help @andrew2net here? Thanks.

[2019-08-20 10:01] andrew2net commented on #63
@ronaldtse I'm finishing **Reverse bib to hash mapping** task. Then release all `relaton` gems. Could you wait one day?

[2019-08-20 10:02] ronaldtse commented on #63
OK. Thanks.

[2019-08-20 13:25] andrew2net opened #66 "Reverse bib to hash mapping"
This is part of the Relaton YAML refactor. https://github.com/metanorma/relaton-bib/issues/8

[2019-08-20 13:48] opoudjis commented on #65
I've pulled the latest relaton and cleaned out the VCR recordings in metanorma-standoc, and they validated with the existing Relaton XML; the only change is that a couple of references are now missing `<uri type="obp">`, which I've addressed. French is now back. As far as I'm concerned, this issue is addressed, now that I've done gem release.

If you want Russian added, that's a separate ticket.

[2019-08-20 13:48] #65 closed

[2019-08-20 14:53] ronaldtse opened #67 "Allow selecting language to fetch, and allow fetching Russian"
ISO website now provides Russian (probably selectively) for standards. If there is Russian, fill it in.

However, the Relaton interface should also allow selecting languages -- if the user only wants to fetch English, only fetch English (to save network time).

_Originally posted by @opoudjis in https://github.com/metanorma/relaton-iso/issues/65#issuecomment-523023362_

[2019-08-20 17:47] #66 closed

[2019-08-27 16:52] andrew2net opened #68 ""require" flavor logic fixing"
If a flavor gem is manually required before loading relaton, the flavor can't be used by Relaton relaton/relaton#44

[2019-08-27 20:32] #68 closed

[2019-08-29 18:13] ronaldtse opened #69 "Fetch from ISO site failed but threw error"
Fetch from ISO site failed but threw error. I believe this is when I disconnected my internet. It should also catch this timeout instead of hard fail. When online fetch fails, we should fallback to use the cached entry.

[code]

[2019-08-29 19:11] andrew2net commented on #69
`Net::HTTP` raises a lot of errors. I thought I added all of them. Will add this error.

[2019-08-29 19:24] ronaldtse commented on #69
Thanks @andrew2net !

[2019-09-03 14:25] #69 closed

[2019-09-03 17:05] #61 closed

[2019-09-04 08:15] ronaldtse opened #70 "AWI reference causes `isodoc` gem to crash"
[code]

Error:

[code]

Line 1644 is exactly `<copyright>`. The value should not be `copyright value unknown`, maybe list it as "unknown".

<img width="653" alt="Screen Shot 2019-09-04 at 4 14 08 PM" src="https://user-images.githubusercontent.com/11865/64237485-0709b500-cf2f-11e9-8214-75e7541f2c5d.png">

Moreover, we need to fix the `isodoc` gem to accept the `unknown` value here.

[2019-09-09 05:09] ronaldtse opened #71 "URGENT: Fetching of ISO 19136 crash"
@andrew2net please help fix this:

https://github.com/metanorma/mn-itu-docs/pull/5

Error trace:

[code]

_Originally posted by @ronaldtse in https://github.com/metanorma/mn-itu-docs/pull/5#issuecomment-529301606_

[2019-09-09 08:50] andrew2net commented on #71
@ronaldtse this issue fixed in v0.5.4. Could you use the last version?

[2019-09-09 08:57] ronaldtse commented on #71
@andrew2net that’s great, thanks. Could you make a PR at the problematic repo to fix this? Thanks!

[2019-09-09 10:19] ronaldtse commented on #71
@andrew2net confirmed fixed. Thanks!

[2019-09-09 10:19] #71 closed

[2019-09-13 11:12] andrew2net commented on #44
@ronaldtse @opoudjis when we get all parts:
- Should we include amendments?
- Should we include documents without part number?

[2019-09-16 12:35] opoudjis commented on #44
Don't know, but I think not. @ronaldtse?

They are mutually exclusive: if the same doc number appears with and without part numbers, they belong to different editions, so they shouldn't be included.

[2019-09-16 13:22] ronaldtse commented on #44
Well, this is an issue regarding all parts. We probably should make it clear in 690.

[2019-09-16 15:08] #44 closed

[2019-09-17 12:04] andrew2net commented on #35
This issue is moved to https://github.com/relaton/relaton/issues/57

[2019-09-17 15:50] ronaldtse commented on #35
@andrew2net can we keep this open? This specifically relates to relaton-iso, while the referred task is a generic task across Relaton. Thanks.

[2019-09-24 04:19] ronaldtse commented on #35
@andrew2net is this done? Can you update metanorma.com on how to refer to these documents and close this? Thanks.

[2019-09-24 09:08] andrew2net commented on #35
@ronaldtse the static cache is created. While we were discussing references format I switched to another task. So now we just need to make YAML files and put them to the static cache directory.
The filenames should be lowercased references with symbols and break spaces replaced by underscores. There is one example https://github.com/relaton/relaton/blob/feature/support-un-fetchable-data/lib/relato

[2019-09-27 08:49] opoudjis opened #72 "Multi-part standards handling intervening with year reference and instance link"
Hitherto, if we have accessed a date specific reference from screenscraping, and convert it into an undated reference, we preserve the original undated reference as an instance relation:

So ISO 123 is fetched as ISO 123:2001, which is converted to {ISO 123, instance: ISO 123:2001}

Until now we have suppressed instances for all_parts references, since we use a partOf relation instead.

#44 means

[2019-09-27 09:14] opoudjis commented on #72
I was sorely tempted to fix this, but no. We're following process from now on, and I have too much to address with this metanorma release. But this is a bug, so please fix as soon as possible.

[2019-09-27 12:47] andrew2net commented on #72
The `ret.to_most_recent_reference` function makes copy of a document and adds original document as `relation`, but original document already has all the parts as `relation`. So result is a document with most recent document in a relation with parts in the relation relation.
Because of it I added ` || opts[:all_parts]` to the condition. We can't simple remove it. I'll find another way.

[2019-09-27 14:46] #72 closed

[2019-10-11 14:49] andrew2net commented on #35
Solved in https://github.com/relaton/relaton/issues/57

[2019-10-11 14:49] #35 closed

[2019-10-22 02:43] ronaldtse opened #73 "Citing ISO/IEC 9945-2 which exists but shows missing message"
The documents clearly exist:

ISO/IEC 9945-2:2003: https://www.iso.org/standard/38790.html

ISO/IEC 9945-2:2002: https://www.iso.org/standard/37313.html

[code]

[2019-10-30 20:13] ronaldtse opened #74 "Occasionally some bib items are not fetched, e.g. `iso 22745-13`"
Occasionally some bib items are not fetched, e.g.:

[code]

[2019-10-30 20:17] ronaldtse opened #75 "Unable to cite withdrawn standard"
ISO 8000-102:2009 has been withdrawn but we still need to be able to cite it.

[code]

[2019-11-10 06:40] ronaldtse opened #76 "Fuzzy doc identifier search should also print out a warning on the finally retrieved document"
`ISO 13584-35` is actually named `ISO/TS 13584-35`, so Relaton goes on a fuzzy search.

Eventually it is able to retrieve `ISO/TS 13584-35`.

However, in the logs, it doesn't tell me that it successfully retrieves `ISO/TS 13584-35`.

Logs now:
[code]

ISO Advanced Search immediately shows me that there is ISO/TC 13584-35.

<img width="1218" alt="Screen Shot 2019-11-10 at 2 37 22 PM" src="https://u

[2019-11-10 23:24] opoudjis opened #77 "Trailing words in identifier should result in failure"
From https://github.com/metanorma/metanorma-standoc/issues/149

[code]

Relaton needs to verify that the identifier submitted is actually matched in the fetched document. relaton-iso did have such behaviour in the past; but an identifier like "ISO 7372 Directory" should not match whatever ISO things the identifier is, and relaton should return "not found" --- in which case the reference is process

[2019-11-12 15:04] #77 closed

[2019-11-27 11:55] andrew2net commented on #73
@ronaldtse I can't reproduce the issue. Do you use `relaton-iso` directly? Could you describe your environment?

[2019-11-27 12:08] andrew2net commented on #74
@ronaldtse looks like a network issue

[2019-11-27 13:37] #75 closed

[2019-11-30 10:08] ronaldtse opened #78 "`ISO/IEC1234` should not be recognized"
This should NOT be recognized for auto-fetch because the document identifier does not match the schema of the ISO document identifiers.

Incorrect:

[code]

Correct
[code]

[2019-12-02 17:16] ronaldtse commented on #73
Can't reproduce, closing now. Thanks @andrew2net !

[2019-12-02 17:16] #73 closed

[2019-12-02 18:25] ronaldtse commented on #74
Works now, closing. Thanks @andrew2net !

[2019-12-02 18:25] #74 closed

[2019-12-06 10:20] andrew2net commented on #78
duplicate https://github.com/relaton/relaton/issues/68

[2019-12-06 10:20] #78 closed

[2019-12-11 16:53] andrew2net commented on #67
@ronaldtse How do you suppose to select the languages?

[2019-12-18 16:58] #57 closed

[2019-12-19 12:02] andrew2net commented on #51
Isn't the date of stage's changes?

[2019-12-19 12:18] andrew2net commented on #51
There isn't the section anymore.

[2019-12-19 12:32] ronaldtse commented on #51
They just moved it to the top:
<img width="1253" alt="Screen Shot 2019-12-19 at 8 29 09 PM" src="https://user-images.githubusercontent.com/11865/71173678-4bcb1900-229e-11ea-8cea-9ce81df78056.png">

[2019-12-19 13:09] andrew2net commented on #51
Anyway, it's the same information as int the `REVISIONS / CORRIGENDA` section. We already use it.

[2019-12-19 13:30] ronaldtse commented on #51
@andrew2net that's great then, do we now parse all of the dates to stages properly?

[2019-12-19 13:42] andrew2net commented on #51
@ronaldtse we don't have a date in the status element
[code]

[2019-12-19 13:53] ronaldtse commented on #51
I think each document stage will use a separate bibitem. For example, if we have ISO 9001, we can find out the date of ISO/DIS 9001 from the same page.

[2019-12-19 15:04] andrew2net commented on #51
Ok, as soon as the changes will be implemented in grammar I'll use it to store stage date, but now it will be lost when we save a document in an XML file.

[2019-12-27 15:03] andrew2net commented on #76
@ronaldtse at this time `relaton-iso` gets published and in-development documents in one request, and then search the most appropriating document in result:

![image](https://user-images.githubusercontent.com/5623890/71521670-fc9a6f00-28c1-11ea-99eb-d8b8eb9c0179.png)

Do we really need to make 2 requests instead of one?

[2019-12-28 12:44] andrew2net commented on #50
@ronaldtse seems this issue duplicates https://github.com/relaton/relaton-iso/issues/51
These dates relate to stages. We don't have a date for a stage in grammar yet.

[2019-12-28 12:44] #50 closed

[2020-01-16 10:33] opoudjis commented on #51
Wait, I just saw this randomly in my periodic review of notifications, and I think you're talking at cross purposes.

@andrew2net, you're assuming that there will be an optional date stored in the status for each distinct status assigned to a document.

@ronaldtse and I have assumed that, if you are tracking dates or other metadata for each status: the bibitems are related as instances/versions of

[2020-01-16 10:44] opoudjis commented on #67
Any added language is clearly going to have to be a new optional argument to `Relaton::fetch`; given that fetch() has a final options parameter, it's going to have to be another such argument, e.g. `@bibdb.fetch("ISO 712", "2011", {lang: "ru"})`

[2020-01-19 12:28] #76 closed

[2020-01-22 16:57] andrew2net commented on #67
Done it, but I didn't find any documents with `title` or `abstract` in languages other than English or French.

[2020-01-22 16:57] #67 closed

[2020-01-22 21:39] ronaldtse commented on #67
@andrew2net perhaps you're right -- the Russian page seem to reuse the title and abstract of English. I heard that ISO 9001 has a Russian version but it is not reflected here:

https://www.iso.org/standard/62085.html

<img width="667" alt="Screen Shot 2020-01-22 at 1 39 04 PM" src="https://user-images.githubusercontent.com/11865/72936689-8fd98f80-3d1c-11ea-99ca-3bc72e50a74a.png">

[2020-01-23 13:58] andrew2net commented on #67
@ronaldtse the Russsian and other versions available in PDF format, on the site I found only English and French. So we now can fetch only English or English and French titles and abstracts.

[2020-01-23 14:25] #51 closed

[2020-04-05 19:52] ronaldtse opened #81 "(URGENT) "ISO 4217" crash"
Urgently need fixing. Thanks.

[code]

[2020-04-05 19:53] ronaldtse commented on #81
More:

[code]

[2020-04-05 20:30] ronaldtse commented on #81
Confirmed fixed. Thanks!

[2020-04-05 20:30] #81 closed

[2020-04-08 05:08] ronaldtse opened #82 "Unable to find "ISO/IEC/IEEE 24765:2010""
Failed while it exists:
https://www.iso.org/standard/50518.html

[code]

[2020-04-08 05:09] ronaldtse opened #83 "Strange failure with "ISO 9000:2005""
The first call worked, then the second failed?

[code]

[2020-04-08 13:04] andrew2net commented on #83
Can't reproduce this issue:
[code]

[2020-04-08 13:06] ronaldtse commented on #83
Have you tried doing twice?

[2020-04-08 13:07] andrew2net commented on #83
@ronaldtse yes, of course.

[2020-04-08 13:08] ronaldtse commented on #83
Maybe it has to do with the local cache? This was from Metanorma.

[2020-04-08 13:11] andrew2net commented on #83
Can't reproduce the issue now? How do you get the warning?

[2020-04-08 13:16] andrew2net commented on #82
Can't reproduce this issue:
[code]

[2020-04-08 13:17] ronaldtse commented on #83
I don't see it anymore... closing.

[2020-04-08 13:17] #83 closed

[2020-04-08 13:28] ronaldtse commented on #82
Issue went away too. Strange. The document in question is this: https://github.com/glossarist/iev-document .

[2020-04-08 13:28] #82 closed

[2020-04-18 15:22] CAMOBAP795 opened #84 "NoMethodError: undefined method `empty?' for nil:NilClass"
https://github.com/metanorma/mn-samples-iso/pull/27/checks?check_run_id=597589554

[2020-04-19 03:21] ronaldtse opened #85 "Provide URN for every "ISO" and "ISO/IEC" document according to RFC 5141"
We want to provide RFC 5141 URN information per ISO and IEC documents: https://tools.ietf.org/html/rfc5141

The `standard-id` would be something like:
[code]

For examples, see https://tools.ietf.org/html/rfc5141#section-2.4.2

Related to https://github.com/relaton/relaton-iec/issues/22

[2020-04-19 10:23] andrew2net commented on #84
This issue duplicates #81. Please use version 0.12.1

[2020-04-19 10:23] #84 closed

[2020-04-28 03:37] ronaldtse opened #86 "Searching for `ISO 4` found `IWA 4` but it is wrong"
[code]

Need to match the publisher ID as well.

IWA 4 is at:
https://www.iso.org/standard/53504.html

The real ISO 4 is at:
https://www.iso.org/standard/3569.html

[2020-04-28 11:27] andrew2net commented on #86
Should we retrieve IWA documents form iso.org?

[2020-04-28 16:18] andrew2net commented on #86
They changed the response data format, so sorting by status was broked. Fixed it.

[2020-04-28 16:18] #86 closed

[2020-04-30 15:33] opoudjis opened #87 "Inconsistent population of docnumbner"
* The record retrieved for ISO/IEC 646 includes a `<docnumber>` value.
* The record retrieved for ISO 8601-2:2019 includes a `<docnumber>` value.
* The record retrieved for ISO 80000-1 *does not* include a `<docnumber>` value.

Sorting bibliographies in ISO depends on an accurate docnumber value being present, since docnumber is a sort key.

[2020-04-30 15:50] andrew2net commented on #87
@opoudjis I unable to reproduce the issue:
[code]
relaton-iso v 1.0.1

[2020-05-01 03:50] opoudjis commented on #87
Just confirmed. The issue must be my side somehow.

[2020-05-01 03:54] #87 closed

[2020-05-07 16:14] ronaldtse opened #88 "Additional "comma" after reference name crashes relaton"
Error in build: https://gitlab.com/metanorma/iso-10303/-/jobs/543046344

[code]

[code]

[2020-05-07 17:11] ronaldtse commented on #88
But same issue here:

[code]

[2020-05-07 17:16] andrew2net commented on #88
@ronaldtse it seems an issue with `metanorma`. `relaton` doesn't return any errors.
[code]

[2020-05-07 17:18] ronaldtse commented on #88
Thanks @andrew2net for checking! I don't actually have this issue on my local, only in the metanorma/mn container...

ping @CAMOBAP to see if you have a clue?

[2020-05-08 07:42] #88 closed

[2020-05-14 09:16] ronaldtse opened #89 "Usage of long-dash in reference search crashes Relaton"
Searching for the reference `ISO/IEC 8824–1:1998` crashes Relaton due to:

_Originally posted by @ronaldtse in https://github.com/metanorma/iso-10303/pull/51#issuecomment-628507639_

[2020-05-14 11:18] andrew2net commented on #89
@ronaldtse It doesn't crash for me (or I don't know how to reproduce the issue). But it saves files with a long-dash in their names. I'll add replacing log-dash in reference.

[2020-05-14 11:20] ronaldtse commented on #89
@andrew2net actually I got that crash in conjunction in Metanorma... Are you able to fetch the correct document? Let's see if this fix will fix it.

[2020-05-14 12:35] andrew2net commented on #89
@ronaldtse, please try relaton v 1.0.2 and relaton-iso 1.0.2

[2020-05-16 15:36] #89 closed

[2020-05-22 14:38] opoudjis opened #90 "Incorrect abbreviation of ISO"
For the record retrieved for ISO 19103:2005, which turns out to be ISO/TS 19103:2005, "ISO/TS" is incorrectly being given as the organisation name. "TS" stands for "technical specification", and is not part of the abbreviation of ISO! In fact, nothing after the "/" in a document identifier is; they are either document types (ISO/TS), document stages (ISO/CD), or distinct organisations (e.g. ISO/IE

[2020-05-23 09:02] andrew2net commented on #90
@ronaldtse do we have a list of publisher organizations? ISO, IEC, IEEE. Anything else?

[2020-05-23 09:14] ronaldtse commented on #90
I don't have a full list, but ISO documents can be published by:

ISO
IEC
ISO/IEC
ISO/IEEE (https://www.iso.org/standard/61897.html)
ISO/IEC/IEEE (https://www.iso.org/standard/63712.html)
ISO/SAE (https://www.iso.org/standard/70918.html)
ISO/CIW (https://www.iso.org/obp/ui/#!iso:std:67002:en)
ISO/ASME (https://www.iso.org/standard/71534.html)

[2020-05-23 09:25] ronaldtse commented on #90
When we parse the document identifier, after the "/" first parse:

- document types (ISO/TS); if none matches then,
- document stages (ISO/CD); if none matches then,
- distinct organisations (e.g. ISO/IEC)

If the first part is the stage, then the second part could be the document type e.g. "ISO/CD TS 12345".

[2020-05-23 09:27] andrew2net commented on #90
@ronaldtse do you mean ISO/CIE?

[2020-05-23 09:36] ronaldtse commented on #90
Yes, fixed.

[2020-05-23 10:22] #90 closed

[2020-05-26 10:48] opoudjis opened #91 "ISO/IEC documents are co-published"
The record retrieved for ISO/IEC TR 12382 (tracked in metanorma-standoc rspec) gives only ISO as the publisher, as of latest release. But ISO/IEC explicitly means that both ISO and IEC must be given as publishers; the code was correct before.

[2020-05-28 10:59] #91 closed

[2020-05-29 06:27] ronaldtse opened #92 "Document identifiers of Amendments/TS/TR/Cor are incorrect"
See https://github.com/metanorma/metanorma-iso/issues/383

[2020-05-29 07:01] ronaldtse commented on #92
Please also check:
https://github.com/metanorma/metanorma-iso/issues/384
https://github.com/metanorma/metanorma-iso/issues/385

[2020-05-29 11:05] andrew2net commented on #92
@ronaldtse I think it isn't relaton-iso issue. I've tried to run:
[code]
the `sources/amendment/rice-amd.awi.adoc` contains:
[code]
from the content the metanorma generates:
[code]

[2020-05-29 11:19] andrew2net commented on #92
@ronaldtse I don't understand what's the problem.

[2020-05-29 13:23] opoudjis commented on #92
Have only just implemented requested fixes.

[2020-06-01 08:59] #92 closed

[2020-07-04 00:44] ronaldtse opened #93 "Problem in fetching Amendment document"
From https://github.com/metanorma/mn-samples-iho/pull/55/checks?check_run_id=835861267

The document identifier seems correct but it’s parsing it as something else?

[code]

[2020-08-06 21:17] andrew2net commented on #93
@ronaldtse it works for me. Could you try again with the latest gems?

[2020-08-16 18:13] ronaldtse commented on #93
@andrew2net problem still occurring:

[code]

https://github.com/metanorma/mn-samples-iho/runs/955706259?check_suite_focus=true

[2020-08-18 13:34] andrew2net commented on #93
@ronaldtse the relaton-iso fetches the "ISO 19131:2007/Amd 1" reference without problem when standing alone but in the mn-samples-iho it's unable to fetch the reference. I'll debug the mn-samples-iho.

[2020-08-18 18:28] andrew2net commented on #93
@ronaldtse the metanoram extracts the last year in the reference `ISO 19131:2007/Amd 1:2011` as year of a document. The relaton extracts the first year. So these years don't match. Should we update relaton to use the last year?

[2020-08-19 06:23] ronaldtse commented on #93
`ISO 19131:2007/Amd 1:2011` => `Amd 1:2011` of `ISO 19131:2007` (base document).

The parsing should be `((ISO 19131:2007)/Amd 1):2011`.

Year of publication of this document is 2011, the document name is `ISO 19131:2007/Amd 1`.

[2020-08-20 15:45] andrew2net commented on #93
Fixed. Please update relaton-iso to version 1.2.1

[2020-08-20 15:45] #93 closed

[2020-09-04 14:29] andrew2net commented on #85
@ronaldtse We have the to_all_parts function which removes a part number from a document identifier and adds "(all parts)" string to it. How should we handle the URN in the all-parts functionality?
I've discussed it with Nick. He suggests just remove the part number without adding "all parts" back into the URN.

[2020-09-04 14:31] ronaldtse commented on #85
@andrew2net this case is specified in RFC 5141:

[code]

[2020-09-04 14:34] ronaldtse commented on #85
Notice that the ISO URN Schema differs from the IEC URN Schema. I will provide details of the IEC URN schema in a separate ticket. This ticket should only be for ISO.

[2020-09-10 15:27] #85 closed

[2020-09-10 23:36] ronaldtse commented on #85
Thanks @andrew2net please also document this method for API and command line. Thanks!

[2021-02-09 10:06] opoudjis opened #96 "Process `--` in dates"
Follow-on from https://github.com/metanorma/metanorma.com/issues/395

In relaton data scraped from ISO, `--` is interpreted as em-dash in much of the text, but as en-dash in the context of dates. That interpretation until now has been done in metanorma, but we are streamlining processing of text substitution, so instead it should be done upstream: it is an idiosyncrasy peculiar to ISO, and not gen

[2021-02-11 16:43] andrew2net commented on #96
@opoudjis relaton uses the `Date` class to format dates before storing them in a bibitem.
For example, a scraped date could be a string "February 2012" so relaton converts it to the string "2012-02" using `Date#strptime` and `Date#strftime`, and stores it in a bibitem.
There are other methods that use `Date` to parse and format string stored in a bibitem.
The `Date#strptime`, `Date#strftime`, and

[2021-02-12 12:54] opoudjis commented on #96
There are two kinds of dash involved here.

The delimiter dash should indeed remain a hyphen. But the delimiter dash is not `--` in ISO input anyway.

The `--` is used in ISO input to indicate a range, as in "2016--2017". That dash needs to be converted into \u2013 for conventional typography, instead of me doing it inconsistently (because ISO `--` means \u2014 in all other contexts.)

So yes, we

[2021-02-12 13:03] andrew2net commented on #96
I don't see how relaton-iso can encounter ' -- ' or '--'. All date inputs go through Date.parse and outputs with a single hyphen. Date rages like "2016--2017" stored in separated fields (from: 2016, to: 2017)

[2021-02-12 17:41] #96 closed

[2021-07-23 18:46] ronaldtse opened #98 "Improperly formatted string for technical-committee name"
https://api.relaton.org/api/v1/document?code=ISO%2019011&year=2011&all_parts=true,keep_year=false

shows this:

[code]

* "ISO/TC 176/SC 3" is the "identifier"
* "Supporting technologies" is the "name"

Maybe it should be:

[code]

[2021-07-23 18:47] ronaldtse opened #99 "Improperly formatted paragraphs for ISO abstracts"
https://api.relaton.org/api/v1/document?code=ISO%2019011&year=2011&all_parts=true,keep_year=false

Gives this:
[code]

* "audit teams.ISO 19011:2011" is missing a space

![image](https://user-images.githubusercontent.com/11865/126827675-9dbbe286-6a87-43e8-95a4-64b55f03ddcc.png)

Because they were two separate paragraphs.

[2021-07-28 17:23] andrew2net commented on #98
@ronaldtse we don't have an attribute `identifier` for `IsoWorkgroup`
[code]

[2021-07-28 17:57] #99 closed

[2021-07-29 10:18] ronaldtse commented on #98
Then can we add “identifier” and also “prefix”? Prefix can be “WG”, “AG”, etc whatever people choose (it’s inconsistent).

We also need to add “identifier” for committee if it doesn’t exist.

[2021-07-29 10:19] andrew2net commented on #98
ping @opoudjis

[2021-07-29 15:24] opoudjis commented on #98
I would have preferred to reconstruct identifier from other information, but I can see that's going to be inconvenient to impossible. OK.

[2021-07-30 04:17] ronaldtse commented on #98
That was the intent but it's now confirmed to be impossible, unfortunately. So we have to handle this.

[2021-08-16 08:34] ronaldtse commented on #98
@andrew2net can we fix/close this now?

[2021-08-19 11:14] #98 closed

[2021-10-25 10:44] opoudjis opened #100 "ISO 123 not being fetched"
ISO 123:2001, however, is.

Likewise, ISO 124 is not being fetched, but ISO 125 through ISO 128 are.

[2021-12-14 03:50] ronaldtse opened #101 "Rename default branch to `main`"

[2021-12-14 03:52] #101 closed

[2021-12-14 03:52] ronaldtse commented on #101
Done.

[2021-12-14 04:31] ronaldtse opened #102 "Specs failing"
https://github.com/relaton/relaton-iso/actions/runs/1576103242

[2021-12-14 13:14] #102 closed

[2022-01-27 12:23] #100 closed

[2022-01-27 12:24] opoudjis opened #103 "ISO 19156 not being fetched"
Nor ISO 19112. The issue is that item_ref(), ` doc.at("//nav[contains(@class, 'heading-condensed')]/h1")&.text`, is returning nil.

[2022-01-29 08:33] ronaldtse commented on #103
The ISO site was down for 2 days. We must add error handling for all Relaton flavor gems  (probably as common code).

[2022-02-06 08:56] opoudjis opened #104 "ISO 123 not fetching"
The code "ISO 123" is returning nil when fetched. The code "ISO 123:2001" is fetching correctly. This is a recent change in behaviour.

[2022-02-06 09:30] opoudjis opened #105 "No title fetching for ISO 10303-507:2000"
Cited in ISO-10303-2

[2022-02-06 10:06] ronaldtse commented on #104
Is there a mistake in this ticket? Fetching or not fetching?

[2022-02-06 20:22] andrew2net commented on #104
@opoudjis I'm not able to reproduce it with the latest relaton-iso:
[code]

[2022-02-06 23:50] opoudjis commented on #104
Huh, now working my site too. Closing.

[2022-02-06 23:50] #104 closed

[2022-02-07 11:30] andrew2net commented on #105
@opoudjis the https://www.iso.org/search.html doesn't find any document for `ISO 10303-507:2000` reference. It finds `ISO 10303-507:2001`.
[code]

[2022-02-07 11:52] ronaldtse commented on #105
This is strange, I can't find part 507 in the STEPmod repository:

`data/resource_docs/geometrically_bounded_surface/resource.xml`
[code]

I do see that there are two references that refers to 507 in ISO 10303-2:
https://github.com/metanorma/iso-10303-2/search?q=507
<img width="636" alt="Screenshot 2022-02-07 at 7 51 38 PM" src="https://user-images.githubusercontent.com/11865/152783154-5eb9f41a-b5

[2022-02-08 11:48] opoudjis commented on #105
Yeah, as I say in the linked issue, I have no idea where that reference came from; if that references list is machine generated, then it reflects an error in source code.

[2022-02-08 11:48] #105 closed

[2022-03-01 13:12] mico commented on #47
I found more stages abbreviations here https://en.wikipedia.org/wiki/International_Organization_for_Standardization
[code]

<img width="1241" alt="image" src="https://user-images.githubusercontent.com/5849/156174615-13b33843-9dbe-4bf0-9fcf-538ce0d27150.png">

@ronaldtse should we use this?
But still not clear what the difference for substage codes for different abbreviations in the same stage code

[2022-03-01 13:20] ronaldtse commented on #47
Wikipedia is not authoritative and incorrect on some counts here:

* FCD does not exist
* NWIP is "NP"

You can actually find all the abbreviations inside the metanorma-iso and relaton-iso gems.

[2022-03-01 13:22] ronaldtse commented on #47
metanorma-iso: https://github.com/metanorma/metanorma-iso/blob/568c109c71a07707101a7410770a2213765332a9/lib/isodoc/iso/metadata.rb#L17-L28

relaton-iso:
https://github.com/relaton/relaton-iso/blob/1e8fa72f3ff79ca2972e01518fbb9d87b1afed22/lib/relaton_iso/scrapper.rb#L13-L49

https://github.com/relaton/relaton-iso/blob/528597f13bab5a9c09955dcc50bab97246949931/lib/relaton_iso/iso_bibliography.rb#L134

[2022-03-01 13:25] ronaldtse commented on #47
These are the ISO doctypes:
https://github.com/metanorma/metanorma-iso/blob/568c109c71a07707101a7410770a2213765332a9/lib/metanorma/iso/validate.rb#L90-L94

There is the "IWA {NN}" pattern for international workshop agreements, too.

[2022-03-09 02:12] opoudjis opened #106 "URGENT: ISO 9000:2015 incorrectly given status of Withdrawn, 90"

[2022-03-09 02:32] ronaldtse commented on #106
See https://github.com/metanorma/metanorma-iso/issues/591 for details

[2022-03-09 11:34] andrew2net commented on #106
The "ISO 9000:2015" document has status `90.93` "confirmed". Status "withdrawn" is `90.99`.

[2022-03-09 11:34] #106 closed

[2022-04-05 07:01] ronaldtse opened #107 "Add ISO identifiers, dated, undated references and reference number to `docid`"
The proposal here is to provide 3 types of `docid`s for a document.

* ISO "Reference number" (reference PubID): `ISO 10303-52:2011(E)`
* ISO dated reference (dated PubID): `ISO 10303-52:2011`
* ISO undated reference (undated PubID): `ISO 10303`
* ISO machine readable reference (RFC 5141 "ISO URN"): `urn...`

This will solve issues such as [#607](https://github.com/metanorma/metanorma-iso/issues/6

[2022-04-12 11:47] ronaldtse commented on #107
@andrew2net #607 has been completed. What needs to be done here? Thanks.

[2022-04-28 18:02] andrew2net commented on #107
@ronaldtse it seems dated and undated references could be derived from a primary ID, couldn't it?
Machine-readable reference provided by ISO
[code]

[2022-04-29 04:06] ronaldtse commented on #107
`docidentifier` should provide all three:
[code]

You can separate by type, e.g. `type="ISO" scheme="undated"` `type="ISO" scheme="refnum"` `type="ISO"  scheme="dated"`.

[2022-04-29 10:53] andrew2net commented on #107
@ronaldtse ok but we don't have a `scheme` attribute in the RelatonBib model. We have `scope`.

[2022-04-29 11:04] andrew2net commented on #107
@ronaldtse what's the difference between "reference PubID" and "dated PubID"?
It seems in many cases they are identical. Do we need to have both `refnum` and `dated` PubIDs if they are identical?

[2022-04-29 11:34] ronaldtse commented on #107
ISO "Reference number" (reference PubID): ISO 10303-52:2011(E)
ISO dated reference (dated PubID): ISO 10303-52:2011

The "Reference number" includes the language code.

[2022-04-29 11:56] andrew2net commented on #107
There isn't a language in the references on the ISO search page. Moreover, in the RelatonBib model, we have translated metadata inside documents. We don't have separate document for each translation, so we don't use references with language.

<img width="689" alt="image" src="https://user-images.githubusercontent.com/5623890/165938967-a06b5242-df35-4062-81b7-21488e2c79a8.png">

[2022-05-03 14:26] opoudjis opened #108 "ISO 6709:2008/Cor 1:2009 not fetching"
https://www.iso.org/standard/53539.html

[2022-05-03 15:44] #108 closed

[2022-05-04 06:33] ronaldtse opened #109 "Normalize ISO references using pubid-iso gem"
In https://github.com/metanorma/iso-6709/issues/7, the identifier `ISO 6709:2008/Cor. 1:2009` was used but was not accepted by Relaton ISO.

This is because the now correct identifier does not have the full stop after `Cor`. However, this is an old style reference, and is accepted by the pubid-iso gem.

We should use integrate Relaton-ISO with the pubid-iso gem to normalize the input, and output P

[2022-05-04 10:25] andrew2net commented on #109
duplicated https://github.com/relaton/relaton-iso/issues/108

[2022-05-04 10:26] ronaldtse commented on #109
Indeed the original issue is gone but integration with pubid-iso is to be done (some more work may be necessary). Let's keep this one for integrating pubid-iso.

[2022-05-04 15:43] andrew2net commented on #107
@ronaldtse I've inspected the OPB preview page. It uses JavaScrip heavily. We can try to reverse engineer it and fetch metadata using the Web app API. But there is an easier, simpler, and faster way: [ISO API Portal](https://api-portal.iso.org/index).
The problem is that they allow only staff employed by the [ISO member](https://www.iso.org/members.html). Is it possible for Ribose to get access to

[2022-05-23 14:53] mico opened #112 "Incorrect document identifier assigning to bibliographic item"
When I do request for "ISO 19115-1" identifier, first match will be "ISO 19115-1:2014 ED1(en,fr)", but as document identifier it returns "ISO 19115-1":
[code]

I expecting it should be something like:
[code]

Am I right? Should we drop year for PubID and URN identifiers?

[2022-05-23 17:35] ronaldtse commented on #112
This is the correct behavior.

Notice that in ISO identifiers there are two types:
1. Dated reference. If you enter "ISO 19115-1:2014", you will get the bibliographic item for "ISO 19115-1:2014" (the bibliographic item of this document).
2. Undated reference. This means you will get a bibliographic item "ISO 19115-1" that has a relationship to the latest "ISO 19115-1" bibliographic item.
  * i.e.

[2022-05-23 17:36] ronaldtse commented on #112
@andrew2net just to clarify, the URN returned for the undated reference is incorrect.

[2022-05-23 17:37] ronaldtse commented on #112
@mico can we delegate this undated/dated difference in identifiers and the URN generation to pubid-iso?

[2022-05-24 13:54] andrew2net commented on #112
@mico the relatno-iso doesn't work correctly with the `lang` attribute yet.
The Realton model allows for containing many languages in one bibliographic item. When the relaton-iso fetches a document it has to get an English version first. From the English page, it can get links to other available languages. So if we don't need the Eglish version we should drop it even if we get the data already. Ma

[2022-05-27 04:43] mico opened #114 "Add comparator methods for amendment and corrigendum"
https://github.com/relaton/relaton-iso/pull/111#discussion_r877952880

[2022-05-30 04:20] ronaldtse commented on #112
### Undated language-unspecified reference

This:
[code]

Should return:
[code]

As @andrew2net pointed out, the reference to an ISO document is not language specific.

But this:
[code]

Should return:
[code]
or
[code]

### Stage code

Regarding:
[code]

The stage code is optional as per RFC 5141:
[code]

If the status is not provided, there is no need to provide the stage code in a URN.

[2022-06-01 06:45] mico commented on #114
Moved to https://github.com/metanorma/pubid-iso/issues/52

[2022-06-01 06:45] #114 closed

[2022-06-13 16:09] ronaldtse opened #115 "Move static cache from relaton/relaton to relaton-iso"
These files are now located at: https://github.com/relaton/relaton/tree/main/lib/relaton/static_cache/iso

We have to move them back into the correct flavor gem.

<img width="791" alt="Screenshot 2022-06-14 at 1 08 42 AM" src="https://user-images.githubusercontent.com/11865/173397108-349c2f69-518a-4ef4-b914-d9416638a3c1.png">

[2022-06-13 16:10] ronaldtse opened #116 "Move static cache from relaton/relaton to relaton-iso"
These files are now located at: https://github.com/relaton/relaton/tree/main/lib/relaton/static_cache/iso

We have to move them back into the correct flavor gem.

<img width="791" alt="Screenshot 2022-06-14 at 1 08 42 AM" src="https://user-images.githubusercontent.com/11865/173397108-349c2f69-518a-4ef4-b914-d9416638a3c1.png">

These files should be moved to relaton-iso:
[code]

The other files sho

[2022-06-13 16:12] ronaldtse commented on #115
Please implement this as described in https://github.com/relaton/relaton-data-iso/issues/2

[2022-06-13 16:29] ronaldtse commented on #115
Closing in favour of #116

[2022-06-13 16:29] #115 closed

[2022-06-15 18:12] andrew2net commented on #116
To complete this task we need to resolve the issue https://github.com/metanorma/pubid-iso/issues/57

[2022-06-21 16:11] ronaldtse opened #117 "Fetching `ISO/IEC/IEEE FDIS 42010` returns mistaken warning"
[code]

Look at this particular line:
[code]

This line does not make sense. We need to fix this.

[2022-06-26 15:24] ronaldtse opened #118 "(URGENT) Unable to cite "ISO 19105" from https://www.iso.org/standard/76457.html"
https://www.iso.org/standard/76457.html

<img width="1130" alt="Screenshot 2022-06-27 at 12 21 14 AM" src="https://user-images.githubusercontent.com/11865/175821274-71e72b0e-9587-4d76-9eba-94d2f1252614.png">

This document is 60.00, not 60.60, i.e. the PRF stage. The identifier is already "ISO 19105", not "ISO/FDIS 19105".

<img width="592" alt="Screenshot 2022-06-27 at 12 21 23 AM" src="https://u

[2022-06-26 15:26] ronaldtse commented on #118
This is blocking https://github.com/metanorma/iso-19144-2/issues/5

[2022-06-27 10:58] andrew2net commented on #118
@ronaldtse the [iso.org/search](https://www.iso.org/search.html?q=19105&hPP=10&idx=all_en&p=0&hFR%5Bcategory%5D%5B0%5D=standard) doesn't find `ISO 19105:2022` or `ISO/PRF 19105`
The documents it finds are
<img width="620" alt="image" src="https://user-images.githubusercontent.com/5623890/175926405-806e81d8-0404-41bc-9a29-78fb1c837e30.png">

[2022-06-27 11:15] ronaldtse commented on #118
@andrew2net it's the second one. It is "under development", in stage "60.00".

[2022-06-30 08:56] andrew2net opened #119 "Duplicate Methods"
Method `RelatonIso::DocumentIdentifier#all_parts` is defined at both lib/relaton_iso/document_identifier.rb:3 and lib/relaton_iso/document_identifier.rb:24. (warning:Lint/DuplicateMethods)

1. There is `RelatonBib::DocumentIdentifier#all_parts` method in parent class.
2. Rubocop clime it as offence. There are many offences in the code but we should try to reduce the number of them, not make new.
3

[2022-07-02 03:28] ronaldtse opened #120 "Referencing staged ISO references with dates"
This error shows up in https://github.com/metanorma/SWF-Corpus_and_IEEEP2874-D2/

[code]

However, the encoding of the reference already includes a stage, which provides sufficient identification:
[code]

Technically, it is an undated identifier, but Metanorma/Relaton does not accept a date for a staged reference. Each stage however is linked to a particular date.

https://www.iso.org/standard/743

[2022-07-03 14:34] opoudjis opened #121 "Breakage in status of URN generated"
relaton fetch "ISO 123"

is returning

`<docidentifier type="URN">urn:iso:std:iso:123:stage-60.60</docidentifier>`

This is incorrect: it should be `<docidentifier type="URN">urn:iso:std:iso:123:stage-90.93:ed-3:en</docidentifier>`, corresponding to

[code]

This is breaking the rspec of metanorma-standoc and metanorma-iso.

[2022-07-04 04:25] ronaldtse opened #122 "(URGENT) Unable to fetch correct Amd identifiers (e.g. `ISO 19115-1:2014/Amd 2:2020`)"
Relaton-ISO is unable to locate dated Amd identifiers due to failure in parsing dates: e.g. `ISO 19115-1:2014/Amd 2:2020`.

[code]

https://www.iso.org/standard/78888.html
<img width="1172" alt="Screenshot 2022-07-04 at 1 24 23 PM" src="https://user-images.githubusercontent.com/11865/177081268-c6feef27-6323-49d1-85a9-a6e2caaa92ab.png">

https://www.iso.org/standard/80275.html
<img width="1005" alt

[2022-07-04 04:25] ronaldtse commented on #122
This issue can be further mitigated by using pubid-iso.

[2022-07-04 06:38] ronaldtse commented on #118
@andrew2net What do we do for a document that does not have year in the identifier?

Are we trying to ask users to use:
* ISO/FDIS 19105:2022 ?
* ISO 19105:2022 ?
* or... ?

[2022-07-04 06:48] ronaldtse commented on #118
I have reported this issue to ISO to seek assistance.

[2022-07-04 08:38] opoudjis commented on #121
THIS IS AN URGENT BUG WHICH IS IMPACTING PRODUCTION!!!

[2022-07-04 10:27] andrew2net commented on #118
@ronaldtse I suggest to add year to identifier in case a reference has year, and identifier from title in search result doesn't have year, and metadata in search result has matched year.
The search result provided by Algolia API and contains title and other metadata. Titles start with identifier usually with year. Often the year in metadata doesn't match to year in title, so we use year form title

[2022-07-04 17:41] ronaldtse commented on #121
@opoudjis is there some inconsistency here? The original URN was for an "undated reference", the desired URN indicated is a "dated reference".

[2022-07-04 17:45] ronaldtse commented on #121
In RFC 5141, it says:

This means the "status" and "edition" are both optional. In an undated reference, we do not know the "edition", so both elements can be empty. i.e.

* ISO 123 => `urn:iso:std:iso:123`, no edition or stage is to be entered.

[2022-07-04 17:47] ronaldtse commented on #118
@andrew2net can you directly PR in pubid-iso and then we can merge and release it? We do not have to wait for @mico .

[2022-07-05 14:59] andrew2net commented on #121
@opoudjis I've updated status and added edition in v 1.12.1 but the languages are not correct in realton-iso yet.
@mico We have list of languages in the Relaton model. Is it possible to generate URN with multiple languages? Like `urn:iso:std:iso:123:stage-90.93:ed-3:en,fr`.

[2022-07-05 15:04] andrew2net commented on #119
I fixed it

[2022-07-05 17:55] ronaldtse commented on #121
Yes. It is described in [RFC 5141](https://datatracker.ietf.org/doc/html/rfc5141#section-2.4.2):
[code]

[2022-07-06 00:26] ronaldtse commented on #118
@andrew2net can you clarify -- how do I cite this document? Can you document this somewhere?

[2022-07-06 00:31] ronaldtse opened #124 "Failure to parse "ISO/NWIP 19144-1""
The identifier is:
[code]

Which technically should have been:
[code]

Loading the former presents this error:

[code]

This is probably a pubid-iso issue. When receiving "ISO/NWIP xxx" it should normalise to "ISO/NP xxx".

[2022-07-06 00:34] ronaldtse commented on #118
I can confirm that it fetches.

[code]

[2022-07-06 07:45] ronaldtse commented on #122
This is blocking ISO 19115-3.

[2022-07-06 10:58] andrew2net commented on #121
@ronaldtse I see but the question is: does the `Pubid::Iso` support array of languages `["en", "fr"]` or multiple languages should be represented as a string `"en,fr"`?

[2022-07-06 11:09] andrew2net commented on #122
@ronaldtse I'm unable to reproduce the issue
[code]
Do you use the latest relaton version?

[2022-07-15 05:15] ronaldtse commented on #122
I can confirm that this works:
[code]

[code]

Thanks @andrew2net !

[2022-07-15 05:15] #122 closed

[2022-07-20 14:10] ronaldtse commented on #116
@andrew2net pubid-iso is auto-released with versions from GitHub, feel free to PR it.

[2022-07-20 17:31] andrew2net commented on #116
@ronaldtse I've released pubd-iso but nothing changed. It's still crashing.

[2022-07-21 03:25] ronaldtse commented on #116
@andrew2net what's crashing?

[2022-07-21 12:55] andrew2net commented on #116
@ronaldtse this crashing https://github.com/relaton/relaton-iso/runs/7430731111?check_suite_focus=true#step:6:253

[2022-07-24 11:39] #116 closed

[2022-07-28 14:59] andrew2net commented on #124
@ronaldtse
1. The error is raised by the `pubid-iso` gem. It's unable to parse the `ISO/NWIP 19144-4` identifier.
2. The https://www.iso.org/search.html?q=19144-4 doesn't find anything with `19144-4` in identifier.

[2022-07-28 15:17] andrew2net commented on #121
stages are correct in URN's now

[2022-07-28 15:17] #121 closed

[2022-07-28 17:17] andrew2net commented on #120
@ronaldtse does https://www.iso.org/standard/85335.html has WD stage?
<img width="947" alt="image" src="https://user-images.githubusercontent.com/5623890/181597394-19c7985d-100d-49d2-9665-ff48366d61d6.png">

[2022-07-28 17:20] andrew2net commented on #120
@ronaldtse do we need to cite same document with different references?

[2022-07-29 03:28] ronaldtse commented on #120
@andrew2net great find!

There have been two changes at ISO.

————
There is a new thing called the “WD Study” stage.

Last November, ISO have launched a new type of WG consultation called the ‘Working Draft (WD) study’. The ‘Working Draft (WD) study’ is common practice during the [‘Preparatory stage](https://www.iso.org/sites/directives/current/consolidated/index.xhtml#_idTextAnchor150)’ of a proj

[2022-07-29 03:30] ronaldtse opened #125 "Support new ISO “WD Study” stage."
There is a new thing called the “WD Study” stage.

————
End of November, ISO will launch a new type of WG consultation called the ‘Working Draft (WD) study’. The ‘Working Draft (WD) study’ is common practice during the [‘Preparatory stage](https://www.iso.org/sites/directives/current/consolidated/index.xhtml#_idTextAnchor150)’ of a project and aimed at gathering comments from WG members on the dra

[2022-07-29 05:23] ronaldtse commented on #120
In the WD stage the document is still WD.

[2022-07-29 11:20] andrew2net commented on #109
@ronaldtse this is the `pubid-iso`'s or `pubid-core`'s issue
[code]

[2022-07-30 05:34] ronaldtse commented on #109
@andrew2net can you file this in `pubid-iso`? I will file the issue this time but let's keep concerns separate.

[2022-07-30 05:55] ronaldtse commented on #109
@andrew2net this is fixed in https://github.com/metanorma/pubid-iso/pull/65 .

[2022-07-30 05:56] #109 closed

[2022-08-04 17:20] ronaldtse commented on #124
That is a failure. Please file the ticket there.

Because NP stage projects are not shown on ISO's website.

[2022-08-04 17:30] ronaldtse commented on #124
I have posted to pubid-iso for @mico

[2022-08-07 16:27] andrew2net commented on #117
fixed in v 1.12.4
[code]

[2022-08-07 16:27] #117 closed

[2022-08-08 07:25] ronaldtse commented on #117
Confirm fixed. Thanks!

[2022-08-21 16:17] ronaldtse opened #126 "(URGENT) Do not crash when unable to parse document identifier"
From https://github.com/metanorma/iso-19135/issues/24

"ISO/TC 211 Good Practices" is not meant to be a standards identifier. However when Relaton parses it, it crashes. It should instead just provide a "not found" output.

[code]

However, this error should not be shown, because it is not an ISO document.

We should just say that:
[code]

[2022-08-22 13:14] opoudjis opened #127 "ISO 123:2001 is not fetching"
(Is invoked in metanorma-iso)

ISO 123:1985 fetches fine.

ISO 123 fetches, with:

[code]

this indicates that the date element 2001 is not being populated for ISO 123 as `<date type="published">`, hence why ISO 123:2001 is not recognised; the copyright year, however, is being populated as 2001. ISO 123:1985, by contrast, populates both the published date and the copyright year.

[2022-08-22 22:59] ronaldtse commented on #127
Also, the URN is being filled in as Edition 3, so it is referring to some instance. This reference is however an undated one, so the URN should not have an edition.

[2022-08-23 10:27] #127 closed

[2022-08-23 10:29] andrew2net opened #128 "URN should not have an edition."
Also, the URN is being filled in as Edition 3, so it is referring to some instance. This reference is however an undated one, so the URN should not have an edition.

_Originally posted by @ronaldtse in https://github.com/relaton/relaton-iso/issues/127#issuecomment-1223293049_

[2022-08-24 10:54] #126 closed

[2022-09-06 12:07] opoudjis opened #129 "ISO 639 failing to parse"
bundle exec relaton fetch "ISO 639"

[relaton-iso] ("ISO 639") fetching...
bundler: failed to load command: relaton (/Users/nickn/.rbenv/versions/3.1.2/bin/relaton)
/Users/nickn/.rbenv/versions/3.1.2/lib/ruby/gems/3.1.0/gems/relaton-iso-1.13.1/lib/relaton_iso/scrapper.rb:244:in `fetch_workgroup': undefined method `text' for nil:NilClass (NoMethodError)

        workgroup = wg_link.text.split "/"

[2022-09-06 15:59] andrew2net commented on #129
@opoudjis fixed in v 1.13.2. They have changed the page template again.

[2022-09-06 15:59] #129 closed

[2022-09-17 11:59] opoudjis opened #131 "Crash on ISO 639:1967"
bundle exec relaton fetch "ISO 639:1967"

[code]

[2022-09-17 14:50] opoudjis commented on #131
Also happening for "ISO 683-3:2019"

[2022-09-17 16:01] andrew2net commented on #131
@opoudjis fixed in v 1.13.3

[2022-09-17 16:01] #131 closed

[2022-09-27 15:16] ronaldtse opened #133 "Issues with pubid-iso 0.1.12"
From @andrew2net https://github.com/metanorma/pubid-iso/issues/117

The relaton-iso has issues with the latest pubid-iso v0.1.12
https://github.com/relaton/relaton-iso/actions/runs/3122107588/jobs/5063838020#step:6:302

Two tests fail because identical amendments comparation is false in https://github.com/relaton/relaton-iso/blob/73e86fe8e156b26fd9dac59a21ae37971ca17c31/lib/relaton_iso/iso_bibliog

[2022-09-27 15:17] ronaldtse commented on #133
The behavior of `Pubid::Iso::Errors::SupplementWithoutYearError` is correct because a Supplement (Amd/Cor) cannot have a base document PubID without year/edition.

We will need to update the exceptions.

[2022-09-27 15:18] ronaldtse commented on #133
This task is being dealt with at https://github.com/relaton/relaton-iso/pull/132

[2022-10-03 23:26] andrew2net commented on #133
@mico thank you

[2022-10-03 23:26] #133 closed

[2022-10-20 12:05] opoudjis opened #135 "Wrong type of bibitem, ISO/IEC DIR 1"
relaton fetch "ISO/IEC DIR 1" is returning

`<bibdata type="directives">`

The type of bibdata/bibitem used to be cosmetic, but now it is critical. I am using `bibdata/@type` to work out how to render documents in Metanorma, and any `bibdata/@type` which is not one of the defined types,

[code]

is resulting in a crash.  Please ensure that no type other than those is ever used in Relaton: the defa

[2022-10-20 16:47] andrew2net commented on #135
and the `isodoc.rnc` adds `internal`, right?
https://github.com/metanorma/metanorma-model-iso/blob/609e15c1ff15fffa6dddd11639ef85fb6a4ee841/grammars/isodoc.rnc#L333

[2022-10-22 20:45] andrew2net commented on #135
@opoudjis the `ISO/IEC DIR 1` is created by hand and the type was changed by @ronaldtse from `international-standard` to `directives` in the last commit https://github.com/relaton/relaton-data-iso/commit/27c1caeb30045081936f22528facbfad311eece9
I just find out that the relaton doesn't war when `type` is incorrect. I'll fix it.

[2022-10-24 00:58] ronaldtse commented on #135
@andrew2net @opoudjis we need to add a new type of "directives" or "policy-documents". "international-standard" does not apply to all documents, obviously.

[2022-10-24 10:26] opoudjis commented on #135
@ronaldtse @andrew2net

Don't confuse `bibdata/@type` and `bibdata/ext/doctype`

The latter can be international-standard or directive, and in fact that's already allowed in the grammar.

The former is SACROSANCT in only ever being "standard". Andrej, from what I understand, `bibdata/@type` is being copied from `bibdata/ext/doctype` erroneously, and you're going to fix that?

[2022-10-25 01:30] ronaldtse commented on #135
@andrew2net a Directive is not a `international-standard`, so it should not be there.

It can be considered a `type: standard`, `doctype: directive` in the Relaton sense, but in no way it is an `international-standard`.

[2022-10-25 14:03] opoudjis commented on #135
Cool, thank you!

[2022-10-25 14:13] andrew2net commented on #135
fixed
https://github.com/relaton/relaton-data-iso/blob/d351457c3164411cc7c1806e4a8357e69ac5425e/data/ISO_IEC_DIR_1.yaml#L11-L12

[2022-10-25 14:13] #135 closed

[2022-10-27 03:34] ronaldtse opened #136 "(URGENT) Issue with relaton-iso compatibility with pubid-iso"
I'm seeing these outputs after updating pubid-iso to 0.2.2 (maybe relaton-iso needs to lock to the previous version):

[code]

[2022-10-28 04:15] andrew2net commented on #136
Fixed in v 1.13.6

[2022-10-28 04:15] #136 closed

[2022-10-30 19:02] anermina opened #137 "(URGENT) ISO/TS cannot be fetched"
ISO Technical Specifications don't get fetched properly.

Example:
[code]

[2022-10-31 01:54] ronaldtse commented on #137
@andrew2net @mico this is urgent -- how can we fix this ASAP? Thanks.

[2022-10-31 02:37] andrew2net commented on #137
@ronaldtse @anermina the relaton-iso needs to be updated to version 1.13.6

[2022-10-31 06:31] anermina commented on #137
Thank you @andrew2net, I didn't notice there was some issue updating this gem to the latest version. I will solve this on my computer, and if you get the correct output on version 1.13.6, please close this ticket.

[2022-10-31 19:41] #137 closed

[2022-11-06 13:16] anermina opened #139 "Fetching ISO/TC references"
Currently, it is not possible to auto-fetch references of the following type (ISO/TC <x>/SC <y> <reference:year>):
![image](https://user-images.githubusercontent.com/55683568/200172525-99b9c9d5-d429-41bb-8ccb-e51310dd239e.png)

These references are used in ISO 10303-16. For now, I'll manually encode them in the bibliography, but please let me know whether it is planned to add references of this ty

[2022-11-09 02:38] ronaldtse commented on #139
Unfortunately we cannot auto-fetch these references because they are not "public" documents. Please help encode them for now. Thanks.

[2022-11-16 22:38] anermina opened #140 "Cannot fetch ISO 10002"
ISO 10002 cannot be fetched.

[code]

[2022-11-19 16:30] anermina opened #141 "Cannot fetch ISO/IEC Guide 2:1991"
ISO/IEC Guide 2:1991 cannot be fetched.

[code]

[2022-11-19 19:47] andrew2net commented on #141
The pubid-iso gem causes this issue. I've created a [ticket](https://github.com/metanorma/pubid-iso/issues/163) for @mico.

[2022-11-19 22:28] andrew2net commented on #140
The pubid-iso gem crashes to parse one of the IDs in a search result. I've filled an [issue](https://github.com/metanorma/pubid-iso/issues/164) for @mico